<header>
    <div class="logo">        
        <a class="logo-link" href="{{ url_for('main.index')}}"><img src="{{ url_for('static', filename='img/logo_majestic.png') }}"></a>
    </div>
    <nav>
        <a href="{{ url_for('main.doc') }}">DOCUMENTATION</a>
        <a href="{{ url_for('main.auth')}}">LOGIN</a>
    </nav>
</header>
<div class="navbar">
<a href="#" class="nav-button" id="leadernewsbutton" style="color: #888888;">Leader New's</a>
<a href="#" class="nav-button" id="cityhallnewsbutton">CityHall New's</a>
<a href="#" class="nav-button" id="weazelnewsbutton">Weazel New's</a>
</div>
