<header>
    <div class="logo">
        <a class="logo-link" href="{{ url_for('main.index')}}">
            <img src="{{ url_for('static', filename='img/logo_majestic.png') }}">
        </a>
    </div>
    <nav>
        <div class='group-account'>
            <img width="24" height="24" src="https://img.icons8.com/glyph-neue/64/FFFFFF/police-badge.png" alt="police-badge"/>
            <a href="{{ url_for('main.doc') }}">Суд и Прокуратура</a>
        </div>
        <div class='group-account'>
            <img width="24" height="24" src="https://img.icons8.com/glyph-neue/64/FFFFFF/home--v1.png" alt="home--v1"/>
            <a class="button-home" href="{{ url_for('main.index') }}">Главная страница</a>
        </div>
        <div class='group-account button-back'>
            <img width="24" height="24" src="https://img.icons8.com/glyph-neue/64/FFFFFF/up-left.png" alt="up-left"/>
            <a class="button-back" onclick='window.history.back();'>Назад</a>
        </div>
    </nav>
</header>
<div class="navbar">
<div class="dropdown-settings" id="dropdown-0">
    <div class='group-account'>
        <img width="24" height="24" src="https://img.icons8.com/fluency-systems-filled/50/FFFFFF/settings.png" alt="settings"/>
        <a href="#" class="dropdown-btn-settings nav-button" id='dropdown-btn-0'>Настройки</a>
    </div>
    <div class="dropdown-menu-settings" id="dropdown-menu-0">
        <a data-action="nickname">Сменить nickname</a>
        <a data-action="password">Сменить password</a>
        <a data-action="discord">Сменить discordID</a>
        <a data-action="avatar">Сменить аватарку</a>
    </div>
</div> 

<div class='group-account'>
    <img width="24" height="24" src="https://img.icons8.com/ios-filled/50/FFFFFF/survey.png" alt="survey"/>
    <a class="nav-button" id="audit">Кадровый Аудит</a>
</div>

<div class="dropdown-settings" id="dropdown-1">
    <div class='group-account'>
        <img width="30" height="30" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/change-user-male.png" alt="change-user-male"/>
        <a href="#" class="dropdown-btn-settings nav-button" id='dropdown-btn-1'>Сменить аккаунт</a>
    </div>
    <div class="dropdown-menu-settings" id="dropdown-menu-1">
        {% for user in curr_users %}
            {% if user.nikname != curr_users.nikname %}
            <a href="#" onclick="switchAccount({{ user.id }})">{{ user.nikname }}</a>
            {% endif %}
        {% endfor %}
        <a href="#" onclick="logoutAccount()">Выйти из аккаунта</a>
    </div>
</div> 
</div>
