<header>
    <div class="logo">
        <a class="logo-link" href="{{ url_for('main.index')}}">
            <img src="{{ url_for('static', filename='img/logo_majestic.png') }}">
        </a>
    </div>
    <nav>
        <a href="{{ url_for('main.doc') }}">DOCUMENTATION</a>
        <a class="button-home" href="{{ url_for('main.index') }}">HOME</a>
    </nav>
</header>
<div class="navbar">
<div class="dropdown-settings" id="dropdown-0">
    <a href="#" class="dropdown-btn-settings nav-button" id='dropdown-btn-0'>Settings</a>
    <div class="dropdown-menu-settings" id="dropdown-menu-0">
        <a data-action="nickname">Сменить nickname</a>
        <a data-action="password">Сменить password</a>
        <a data-action="discord">Сменить discordID</a>
    </div>
</div> 
<a href="{{ url_for('main.audit')}}" class="nav-button" id="audit">Create Audit</a>
<a href="{{ url_for('main.logout')}}" class="nav-button">Logout</a>
</div>
