<header>
    <div class="logo">
        <a class="logo-link" href="{{ url_for('main.index')}}">
            <img src="{{ url_for('static', filename='img/logo_majestic.png') }}">
        </a>
    </div>
    <nav>
        <a class="modal-button" data-modal="create-doc">CREATE DOC</a>
        <a class="" href="{{ url_for('main.index') }}">HOME</a>
    </nav>
</header>
<div class="navbar">
    <a href="#" class="nav-button">Офис Ген. Прокуратуры</a>
    <a href="#" class="nav-button">Судебный Корпус</a>
    <a href="#" class="nav-button">Другие Ведомства</a>
</div>
