<header>
    <div class="logo">        
        <a class="logo-link" href="{{ url_for('main.index')}}"><img src="{{ url_for('static', filename='img/logo_majestic.png') }}"></a>
    </div>
    <nav>
        <div class='group-account'>
            <img width="24" height="24" src="https://img.icons8.com/glyph-neue/64/FFFFFF/police-badge.png" alt="police-badge"/>
            <a href="{{ url_for('main.doc') }}">Суд и Прокуратура</a>
        </div>
        {% if current_user.is_authenticated %} 
            <div class='group-account'>
                <img width="24" height="24" src="https://img.icons8.com/material/24/FFFFFF/guest-male--v1.png" alt="guest-male--v1"/>
                <a href="{{ url_for('main.auth')}}">Аккаунт</a> 
            </div>
        {% else %}
        <div class='group-account'>
            <img width="24" height="24" src="https://img.icons8.com/material/24/FFFFFF/guest-male--v1.png" alt="guest-male--v1"/>
            <a href="{{ url_for('main.auth')}}">Вход</a> 
        </div>
        {% endif %}
    </nav>
</header>
<div class="navbar">
    <div class='group-account'>
        <img width="24" height="24" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/news.png" alt="news"/>
        <a href="#" class="nav-button active" onclick='toggleNews(admin)'>Новости Администрации</a>
    </div>
    <div class='group-account'>
        <img width="24" height="24" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/news.png" alt="news"/>
        <a href="#" class="nav-button" onclick='toggleNews(gov)'>Новости Правительства</a>
    </div>
    <div class='group-account'>
        <img width="24" height="24" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/news.png" alt="news"/>
        <a href="#" class="nav-button" onclick='toggleNews(weazel)'>Новости СМИ</a>
    </div>
</div>
