<header>
    <div class="logo">
        <a class="logo-link" href="{{ url_for('main.index')}}">
            <img src="{{ url_for('static', filename='img/logo_majestic.png') }}">
        </a>
    </div>
    <nav>
        <a href="{{ url_for('main.doc') }}">DOCUMENTATION</a>
        <a class="button-account" href="{{ url_for('main.profile') }}">ACCOUNT</a>
        <a class="button-home" href="{{ url_for('main.index') }}">HOME</a>
    </nav>
</header>
<div class="navbar">
<a href="#" class="nav-button">Messanger</a>
<a href="{{ url_for('main.audit')}}" class="nav-button">Create Audit</a>
<a href="#" class="nav-button">-</a>
</div>
