
/start.py
/__pycache__
/python/__pycache__
/myvenv
/python/config.json
/static/uploads
/python/cogs/__pycache__
/message_data.json
/python/cogs/__pycache__/ka_cog.cpython-312.pyc
/python/cogs/__pycache__/lid_cog.cpython-312.pyc
/message_data.json
*.pyc