
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <div class="avatar">
                    <img src="{{ url_for('static', filename='img/ava.png')}}">
                    <span>edit</span>
                </div>
                <div class="profile-info">
                    <div class="profile-info-row">
                        <div class="profile-info-label"><p>NIK NAME</p></div>
                        <div class="profile-info-value"><p>{{ current_user.nikname if not is_guest else current_user.nickname }}</p></div>
                    </div>
                    {% if not is_guest %}
                        <div class="profile-info-row">
                            <div class="profile-info-label"><p>RANK</p></div>
                            <div class="profile-info-value"><p>{{ current_user.curr_rank }} | {{ rank_name }}</p></div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-label"><p>ORGAN</p></div>
                            <div class="profile-info-value"><p>{{ current_user.organ }}</p></div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-label"><p>WARNS</p></div>
                            <div class="profile-info-value"><p><SW>{{ current_user.SW }}/3</SW> <YW>{{ current_user.YW }}/2</YW></p></div>
                        </div>
                        <a class="profile-audit" href="#">me audit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class='modal-settings' id='modal-1' style='display:none;'>
        <div class='content-modal'>
            <div class="header-modal">
                <span class="btn-modal-close" id="close-btn-1">&times;</span>
            </div>
            <div class='form-container' id='complaint'>
            <form method='POST' action='/profile_settings'>
                <input type="hidden" name="action" id="action-0">
                <div class='group-contaniner-modal'>
                    <div class='settings-nickname' style='display:none;'>
                        <div class='form-control'>
                            <label for="phone">Введите новый nickname</label>
                            <div class='form-input-modal'>
                                <input name="new_nickname" placeholder='Введите новый nickname'>
                            </div>
                            <span class="text-danger" id="is-invalid"></span>
                        </div>
                    </div>
                
                    <div class='settings-password' style='display:none;'> 
                        <div class='form-control'>
                            <label for="phone">Старый пароль</label>
                            <div class='form-input-modal'>
                                <input name="password-s" placeholder='Введите текущий пароль'>
                            </div>
                            <span class="text-danger" id="is-invalid"></span>
                        </div>

                        <div class='form-control'>
                            <label for="phone">Новый пароль</label>
                            <div class='form-input-modal'>
                                <input name="password-n" placeholder='Введите новый пароль'>
                            </div>
                            <span class="text-danger" id="is-invalid"></span>
                        </div>
                    </div>
                
                    <div class='settings-discordID' style='display:none; flex-direction: column;'>
                        <div class='form-control'>
                            <label for="phone">Пароль</label>
                            <div class='form-input-modal'>
                                <input name="password-teds" placeholder='Введите текущий пароль'>
                            </div>
                            <span class="text-danger" id="is-invalid"></span>
                        </div>

                        <div class='form-control'>
                            <label for="phone">Введите новый discordID</label>
                            <div class='form-input-modal'>
                                <input name="new_discordid" placeholder='Введите новый discordID'>
                            </div>
                            <span class="text-danger" id="is-invalid"></span>
                        </div>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Сохранить">   
                    </div>   
                </div>
            </form>
            </div> 
        </div> 
    </div>


