<div class="card-container">
    {% for item in action_users %}
        <div class="card">
            <div class="card-title"><p>Гражданин штата SA - <b><br>{{item.nickname_accused}} {{item.static_accused}}</b></p></div>
            <div class="card-content">
                {% if item.initiation_case %} <p>Возбуждение уголовного дела</p> {% endif %}
                {% if item.provide_video %} <p>Предоставить видеофиксацию задержания и ареста, а также предпологаемого правонарушение гражданина {{item.param_limit2_nickmane}} с {{item.param_limit2_time}}</p> {% endif %}
                {% if item.provide_personal_file %} <p>Предоставить персонадьные данные сотрудника</p> {% endif %}
                {% if item.changing_personal_data %} <p>Предоставить персонадьные данные сотрудника</p> {% endif %}
                {% if item.dismissal_employee %} <p>Запрет на смену персональных данных сотруднику</p> {% endif %}
                {% if item.temporarily_suspend %} <p>Запрет на ведение службых обязаностей на время расследования</p> {% endif %}
                <p>Прокурор: <b>{{ Users.query.filter_by(id=item.id).first().nikname }}</b> | <b>{{ Users.query.filter_by(id=item.id).first().discordname }}@gov.sa</b></p>
            </div>
            <a href="/resolution?uid={{ item.uid }}" class="open-link">Открыть</a>
        </div>
    {% endfor%}

</div>