<main>
    <div class="search-container">
        {% if more_info %}
        <div id="more_info" class="info-container">
            <a href="/database" class="close-btn">&times;</a>
            <div id="playerDetails" class="player-details">
                <form method="POST" action="/database_change">
                    <h2 class="section-title">Подробная информация</h2>
                    <p><strong>Никнейм:</strong> {{ user.nikname }}</p>
                    <p><strong>Static:</strong> {{ user.static }}</p>
                    <p><strong>Фракция:</strong> {{ user.organ }}</p>
                    <p><strong>Ранг:</strong> {{ user.curr_rank }}</p>
                    <p><strong>Discord:</strong> 
                        <input type="text" name="discordname" value="{{ user.discordname }}" {% if perm_change >= 3 %}{% else %} readonly {% endif %}>
                    </p>
                    <p><strong>Discord ID:</strong> 
                        <input type="text" name="discordid" value="{{ user.discordid }}" {% if perm_change >= 3 %}{% else %} readonly {% endif %}>
                    </p>
            </div>
    
            <div id="permissions" class="permissions-section">
                <h2 class="section-title">Права пользователя</h2>
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <p><label>
                    <input type="checkbox" name="tech" {% if user.permissions[0].tech %}checked{% endif %} onclick="return false;">
                    Технический доступ
                </label></p>
                <p><label>
                    <input type="checkbox" name="prosecutor" {% if user.permissions[0].prosecutor %}checked{% endif %} {% if perm_change >= 2 %}{% else %} onclick="return false;" {% endif %}>
                    Прокурорский доступ
                </label></p>
                <p><label>
                    <input type="checkbox" name="lider" {% if user.permissions[0].lider %}checked{% endif %} {% if perm_change >= 4 %}{% else %} onclick="return false;" {% endif %}>
                    Лидерский доступ
                </label></p>
                <p><label>
                    <input type="checkbox" name="admin" {% if user.permissions[0].admin %}checked{% endif %} {% if perm_change >= 4 %}{% else %} onclick="return false;" {% endif %}>
                    Доступ Администратора
                </label></p>
                <p><label>
                    <input type="checkbox" name="high_staff" {% if user.permissions[0].high_staff %}checked{% endif %} {% if perm_change >= 2 %}{% else %} onclick="return false;" {% endif %}>
                    Старший состав
                </label></p>
                {% if perm_change <= 1 %}{% else %}  <div class='container-submit-btn'> <button type="submit">Сохранить</button> </div> {% endif %}
            </div>
        </form>
        <button id="toggleKaHistoryBtn" class="toggle-ka-history-btn">Показать Историю КА</button>
        
        </div>
        {% else %}
    <div id="players" class='players'>
    <div class="tabs">
        <button class="tab-button" onclick="showTab('users')">Пользователи</button>
        <button class="tab-button" onclick="showTab('ranks')">Ранги</button>
    </div>
    <div id="users" class="tab-content">
        <form class="search-form" action="/database" method="GET">
            <input type="hidden" name="search" value="True">
            <select name="filter" id="filter">
                <option value="Nikname">Имя Фамилия</option>
                <option value="Static">Статик</option>
                <option value="Discord">Дискорд</option>
            </select>
            <input type="text" name="text" id="text">
        </form>
        <table>
            <tr>
                <th>Никнейм</th>
                <th>Static</th>
                <th>Фракция</th>
                <th>Ранг</th>
                <th>Discord</th>
            </tr>
            {% for user in Users %}
            <tr class="user-row" data-user-id="{{ user.id }}">
                <td>{{ user.nikname }}</td>
                <td>{{ user.static }}</td>
                <td>{{ user.organ }}</td>
                <td>{{ user.curr_rank }}</td>
                <td>{{ user.discordname }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="userDetails" style="display: none; margin-top: 20px;">
        <h2>Подробная информация</h2>
        <p><strong>Никнейм:</strong> <span id="userName"></span></p>
        <p><strong>Static:</strong> <span id="userStatic"></span></p>
        <p><strong>Фракция:</strong> <span id="userOrgan"></span></p>
        <p><strong>Ранг:</strong> <span id="userRank"></span></p>
        <p><strong>Discord:</strong> <span id="userDiscord"></span></p>
    </div>

    <div id="ranks" class="tab-content" style="display:none;">
        <label for="fraction">Фракция</label>
        <select name="fraction" id="fraction" onchange="filterRanksByFraction(this.value)">
            <option value="LSPD">Los-Santos Police Department</option>
            <option value="LSCSD">Los-Santos Country Sheriff Department</option>
            <option value="FIB">Federal Investigation Bureau</option>
            <option value="SANG">San-Andreas National Guard</option>
            <option value="EMS">Emergency Medical Services</option>
            <option value="GOV">Government</option>
            <option value="WN">Weazel News</option>
        </select>
    
        <div id="ranks-container" style="max-height: 400px; overflow-y: auto; margin-top: 20px;">
            {% for fraction, rank_list in groups.items() %}
            <div class="fraction-group" data-fraction="{{ fraction }}">
                <h3>{{ fraction }}</h3>
                <ul id="{{ fraction }}-list" class="rank-list">
                    <!-- Лидерский ранг -->
                    {% for rank in rank_list %}
                        {% if rank.leader %}
                        <li class="rank-item leader" data-id="{{ rank.id }}" data-leader="true">
                            <input type="text" class="rank-id" value="{{ rank.id }}" readonly>
                            <input type="text" class="rank-name" value="{{ rank.name }}" readonly>
                            <span class="leader-label">Лидер</span>
                        </li>
                        {% endif %}
                    {% endfor %}
                    
                    <!-- Обычные ранги -->
                    {% for rank in rank_list %}
                        {% if not rank.leader %}
                        <li class="rank-item" data-id="{{ rank.id }}" data-leader="false">
                            <input type="text" class="rank-id" value="{{ rank.id }}" readonly>
                            <input type="text" class="rank-name" value="{{ rank.name }}"/>
                            <button class="delete-rank" onclick="deleteRank('{{ fraction }}', {{ rank.id }})">Удалить</button>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <button class="add-rank" onclick="addRank('{{ fraction }}')">Добавить ранг</button>
            </div>
            {% endfor %}
        </div>
        <div class='container-btn'>
            <button onclick="saveRanks()">Сохранить</button>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

    {% endif %}
</div>

<div id="kaHistory" class="ka-history hidden-modal" style='display: none; transform: translateX(-50%);'>
    <h2 class="ka-history-title">История КА</h2>
    <div class="ka-log">
        {% for log in ka_log %}
            <div class="ka-item">
                <p class="ka-timespan">{{ log.timespan }}</p>
                <p><strong>Имя:</strong> {{ log.nikname }} | <strong>Discord:</strong> {{ log.discordname }}</p>
                <p><strong>Static:</strong> {{ log.static }} | <strong>Discord ID:</strong> {{ log.discordid }}</p>
                <p><strong>Ранг до:</strong> {{ log.prev_rank }} | <strong>Ранг после:</strong> {{ log.curr_rank }}</p>
                <p><strong>Действие:</strong> {{ log.action }}</p>
                <p><strong>КА написал:</strong> {{ log.user.nikname }} | {{ log.user.static }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</main>


