<main> 
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <div class="avatar">
                    <img src="{{ url_for('static', filename='img/ava.png')}}">
                    <span>edit</span>
                </div>
                <div class="profile-info">
                    <div class="profile-info-row">
                        <div class="profile-info-label"><p>NIK NAME</p></div>
                        <div class="profile-info-value"><p>{{ nickname }}</p></div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-label"><p>RANK</p></div>
                        <div class="profile-info-value"><p>{{ rank }}</p></div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-label"><p>ORGAN</p></div>
                        <div class="profile-info-value"><p>{{ organ }}</p></div>
                    </div>
                    <a class="profile-audit" href="#">me audit</a>
                </div>
            
            </div>
        </div>
    </div>
    <div class="notifications">
        <div class="notification warning">Вы вызваны в суд</div>
        <div class="notification danger">У вас запрет на увольнение</div>
        <div class="notification danger">У вас судебный штраф</div>
        <button class="more-btn">see more</button>
    </div>
</main>
