<div class='container-audit'>
    <div class='header-container'>
        <div class='head'>
            <div class='text-header'>
                {% if current_user.permissions[0].admin or current_user.permissions[0].tech %}
                    <div style="background-color:#490871 !important;" class="organ">admin</div>
                    <div class="nikname">{{ current_user.nikname }}</div>
                {% else %}
                    <div style="background-color:{{ color }} !important;" class="organ">{{ current_user.organ }}</div>
                    <div class="nikname">{{ current_user.nikname }}</div>
                {% endif%}
            </div>
        </div> 
    </div>
    <div class='line-modal'></div>
    <div class='main-content'>
        <form id="form-audit" method="POST" action="/audit">
            <div class='form-container'>
                <input type='hidden' id='dismissal' name='dismissal' value='none'>
                <div class='form-control'>
                    <label for="discord">Discord ID</label>
                    <div class='form-input-modal'>
                        <input name="discord"  id='discord' placeholder='Введите discordID игрока' required>
                    </div>
                    <span class="text-danger" id="is-invalid"></span>
                </div>
                <div class='form-control'>
                    <label for="static">Static</label>
                    <div class='form-input-modal'>
                        <input name="static" id='static' placeholder='Введите static игрока' required>
                    </div>
                    <span class="text-danger" id="is-invalid"></span>
                </div>
                <div class='form-control'>
                    <label for="nickname">NickName</label>
                    <div class='form-input-modal'>
                        <input name="nickname"  id='nickname' placeholder='Введите nickname игрока' required>
                    </div>
                    <span class="text-danger" id="is-invalid"></span>
                </div>
                {% if current_user.permissions[0].admin or current_user.permissions[0].tech %}
                    <div class='form-control'>
                        <label for="fraction">Фракция</label>
                        <div class='form-input-modal'>
                            <select name="fraction" id='organ_change' class="dropdown-select-ka">
                                <option value='LSPD'>LSPD</option>
                                <option value='LSCSD'>LSCSD</option>
                                <option value='WN'>WN</option>
                                <option value='GOV'>GOV</option>
                                <option value='EMS'>EMS</option>
                                <option value='FIB'>FIB</option>
                                <option value='SANG'>SANG</option>
                            </select>
                        </div>
                    </div>
                    <div class='form-control'>
                        <label for="rank">Ранг</label>
                        <div class='form-input-modal'>
                            <select name="rank" class="dropdown-select-ka" id="rank-select">
                            </select>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                {% else %}
                    <div class='form-control'>
                        <label for="rank">Rank</label>
                        <div class='form-input-modal'>
                            <select name="rank" id='rank' class="dropdown-select-ka">
                                {% for rank in ranks[organ] %}
                                <option value="{{ rank['id'] }}"{% if rank['id'] == 1 %} selected{% endif %}{% if rank['id'] >= current_user.curr_rank %}disabled{%endif%}>{{ rank['id'] }} | {{ rank['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                {% endif %}
                <div class='form-control'>
                    <label for="reason">Reason</label>
                    <div class='form-input-modal'>
                        <input name="reason" id='reason' placeholder='Введите причину ка' required>
                    </div>
                    <span class="text-danger" id="is-invalid"></span>
                </div>
            </div>
            <div class="form-button-container">
                <div class='submit-btn-contanier'>
                    <div class='submit-btn' id='submit-btn'>
                        <input type="submit" value="Отравить изменения">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
</div>