<body>
    <div id="snowflakeContainer"></div>
    <script>const snowflakeContainer = document.getElementById('snowflakeContainer');
        let activeSnowflakes = 0; // Текущие снежинки
        const maxSnowflakes = 400; // Лимит снежинок

        function createSnowflake() {
            if (activeSnowflakes < maxSnowflakes) {
                const snowflake = document.createElement('div');
                snowflake.classList.add('snowflake');
                snowflake.style.left = Math.random() * window.innerWidth + 'px';
                snowflake.style.animationDuration = 3 + Math.random() * 5 + 's';

                snowflakeContainer.appendChild(snowflake);
                activeSnowflakes++; // Увеличиваем количество активных снежинок

                snowflake.addEventListener('animationend', () => {
                    snowflake.remove();
                    activeSnowflakes--; // Уменьшаем, когда снежинка исчезает
                });
            }
            setTimeout(createSnowflake, 100); // Периодичность появления
        }
        
        createSnowflake();
        </script>
    <style>
body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

#snowflakeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: fixed;
    z-index: -1;
    top: -10px;
    background: url('static/img/snowflake.png') no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    pointer-events: none;
    opacity: 0.9;
    animation: fall linear infinite;
    animation-timing-function: ease-in-out;
    transition: transform 2s ease, opacity 2s ease; /* Плавность */
}



@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
    </style>
</body>
