:root {
    --success-color: #0cb854;
    --error-color: #ee1f09;
  }

* {
    user-select: none;
}

*:focus {
    outline: none;
}

body{
    margin: 0;
}

body.no-scroll {
    overflow: hidden; /* Отключает прокрутку */
}

main{
    display: flex;
    justify-content: center;
    top: 25px !important;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto; 
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход для opacity и visibility */
    visibility: hidden; /* Скрыто по умолчанию */
}
   
.modal-content {
    background-color: #3c3b3bd6;
    margin: 15% auto;
    margin-top: 10rem;
    padding: 20px;
    width: calc(100% - 50vw);
    min-height: 200px;
    color: white;
    box-shadow: 0 0 20px 10px #262626c2;
    border-radius: 10px;
    
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

.modal.active {
    opacity: 1; 
    visibility: visible; 
    z-index: 100;
}

.overlay {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0 0 0 / 75%);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход для opacity и visibility */
    visibility: hidden; /* Скрыто по умолчанию */
}

.overlay-main {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(10 10 10 / 35%) !important; 
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden; /
}
.overlay.active {
    opacity: 1; 
    visibility: visible; 
    z-index: 5;
}

.nikname
{
    font-size: 18px;
    font-weight: 700;
    align-content: center;
    padding: 0 15px;
}

.personal-date
{
    display: flex;
    border-bottom: #aaa solid 4px;
    width: 30%;
    padding: 10px;
}

.organ
{
    padding: 5px 8px;
    border-radius: 10px;
    font-weight: 700;
}


.navbar
{   
    max-height: 60px;
    display: flex !important;
}

.checkbox-wrapper {
    display: flex;
    width: 80%;
    gap: 10px; /* Расстояние между кнопкой и текстом */
    margin-bottom: 10px; /* Отступ между элементами */
    flex-direction: column;
}

.hidden-checkbox {
    display: none;
}

.checkbox-label {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #f72414;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.44);
}

.checkbox-label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 3px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-label:hover:before {
    width: 25px;
    height: 25px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.checkbox-label:active {
    transform: scale(0.9);
}

#tick_mark {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-40deg);
    width: 15px;
    height: 10px;
}

#tick_mark:before,
#tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 8px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-68px);
}

#tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(78px);
}

.hidden-checkbox:checked + .checkbox-label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

.hidden-checkbox:checked + .checkbox-label:before {
    width: 0;
    height: 0;
}

.hidden-checkbox:checked + .checkbox-label #tick_mark:before,
.hidden-checkbox:checked + .checkbox-label #tick_mark:after {
    transform: translate(0);
    opacity: 1;
}

.checkbox
{
    display: flex;
}

.checkbox-text {
    font-size: 16px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#select-box {
    position: relative;
    min-width: 180px;
    padding: 5px 10px;
}

#select-box label
{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

.select-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: #e81c597a solid 2px;
    border-radius: 10px;
    background-color: #444;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-top: 4px;
    font-size: 12px;
}

.select-button:hover {
    border-color: #888;
}

#selected-value {
    font-size: 14px;
    color: white;
}

#chevrons {
    font-size: 14px;
    color: #999;
}

#options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Скрываем изначально */
    opacity: 0; /* Начальная непрозрачность для анимации */
    transition: opacity 0.5s ease; /* Плавная анимация */
}

.option {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #f0f0f0;
}

.radio-input {
    display: none; /* Скрываем стандартные радиокнопки */
}

.radio-label {
    display: block;
    color: #555;
}

.radio-input:checked + .radio-label {
    font-weight: bold; /* Подсветка выбранной опции */
    color: #007BFF; /* Цвет текста для выбранной опции */
}

.hidden {
    display: none;
}

.wrapper-selector {
    transition: height 0.3s ease-in-out, opacity 0.3s ease;
    padding: 25px 5px;
    opacity: 0;
    overflow: hidden;
    display: none; 
  }

.wrapper-selector.hidden-wrapper {
    opacity: 1;
}

#order-wrapper
{
    display: flex;
    flex-direction: column;
}

#agenda-wrapper
{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contanier-wrapper
{
    display: none;
    justify-content: center;
    flex-direction: column;
}

.text-danger {
    text-align: center;
    color: var(--error-color);
    font-size: 10px;
    font-weight: 600;
}

.form-input
{
    width: 200px;
    padding: 5px 0px !important;
    display: block;
    opacity: 1;
}

.form-input.error input
{
    background-color: #632525 !important;  
}

.wrapper-input {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    overflow: hidden;
    display: none; 
}

.visible-input {
    opacity: 1;
    max-height: 100px; 
    display: flex; 
    flex-direction: row;
}
.visible-input input { width: 90%; }

#attorney-content
{
    position: absolute;
    z-index: 1;
}

.input-wrapper
{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.card-container {
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-height: 520px;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease-out forwards;
}

iframe {
    overflow: hidden !important; 
    border: none;
}

.card {
    position: relative;
    background-color: #333333c6;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    width: 350px;
    overflow: hidden !important; 
    height: 465px;
}

.card:hover {
    transform: translateY(-5px);
}

.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: 0;
    color: white;
    font-size: 24px;
    font-weight: 800;
    background: rgb(85 85 85 / 74%);
    box-shadow: inset #2726269e 0 0 100px 20px;
    padding: 10px;
}

.open-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.open-link:hover {
    color: #fff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.active-button {
    color: #888 !important;
}

.modal-close-error {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close-error:hover,
.modal-close-error:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}


#access-message {
    display: none;
    opacity: 0;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    width: 30rem;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
}

#access-message.show {
    position: absolute;
    display: block;
    opacity: 1;
}

#access-message.hidden {
    position: absolute;
    opacity: 0;
}
.alert-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #d1d1d1;
    color: #5d5d5d;
    text-decoration: none;
    border-radius: 4px;
}

.group
{
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.hidden-input {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transform: translateX(20px);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.container-btn-custom {
    display: flex;
    padding: 5px 10px;
}

.btn-custom {
    position: relative;
    font-size: 16px;
    font-weight: 800;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border: #0000003d solid 2px;
    box-shadow: #232323 0 0 10px 2px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out;
}

.btn-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset #232323 0 0 10px 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.btn-custom:hover {
    box-shadow: none;
}

.btn-custom:hover::before {
    opacity: 1;
}

.dynamic-textarea {
    width: 180px;
    max-width: 400px;
    max-height: 100px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: width 0.2s ease, height 0.2s ease;
    overflow-wrap: break-word;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.custom-inputs {
    margin-top: 15px;
}

.header-custom {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.fade-in-text {
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

a.add-input-button {
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}

.container-custom-resolution {
    display: flex;
    justify-content: center;
}

.close-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.show-custom {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden-custom {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contatier-disription {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.back-button {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
}

.fade-in-nav {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.hidden-nav {
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.3s ease-in-out;
}

div#judicial-content {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

.contanier-content {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.create-container-button {
    display: flex;
    justify-content: end;
}

.header-container {
    display: flex;
    flex-direction: column;
    background: #141414;
    box-shadow: #0f0f0f 0 0 10px 5px;
    padding: 20px;
    border-radius: 10px;
}

.breaker-entey {
    display: flex;
    align-items: center;
}

.ico-header-jud {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 30px;
    height: 30px;
    background: #070707;
    box-shadow: black 0 0 5px 2px;
    border-radius: 50%;
}

.btn-court {
    padding: 0 10px
}

.court-container {
    background: #0f0f0f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: black 0 0 5px 1px;
    transition: all 0.5s ease-in-out;
}

.court-container:hover {
    background: #2c2c2c;
    box-shadow: grey 0 0 5px 1px;
    cursor: pointer
}

.court-container p {
    font-size: 10px;
    font-weight: 700;
    text-align: end;
}

.main-contanier {
    margin-top: 20px;
    padding: 20px;
    background: #141414;
    border-radius: 10px;
    box-shadow: inset #0f0f0f 0 0 10px 5px;
}

.list-claim {
    background: #0f0f0f;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 0 0 5px 1px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.btn-complaint {
    margin-bottom: 10px;
    height: 50px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: block;
}

.btn-complaint:hover {
    color: rgb(191, 191, 191);
}

.list-claim:hover {
    background: #1d1c1c;
    box-shadow: grey 0 0 5px 1px;
    cursor: pointer
} 

.list-claim p{ 
    font-size: 10px;
    font-weight: 700;
    text-align: end;
}

.create-container-button {
    margin-bottom: 10px;
}

a.create-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    background: #101010;
    border-radius: 10px;
    box-shadow: black 0 0 5px 1px;
    transition: all 0.5s ease-in-out;
}

a.create-btn:hover {
    background: #222222;
    box-shadow: #323232 0 0 5px 1px;
}

.hidden-modal-district {
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.5s ease-in-out;
}

.show-modal-district {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.hidden-modal {
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.5s ease-in-out;
}

.show-modal {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.modal-district-content {
    position: absolute;
    top: -85px;
    z-index: 100;
    flex-direction: column;
    background: #121212e0;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    border: black solid 2px;
    box-shadow: #0d0d0d 0 0 10px 4px;
    color: white
}

.header-modal {
    display: flex;
    justify-content: space-between;
}

.text-header p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
}

span.btn-modal-close {
    color: white;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

span.btn-modal-close:hover {
    color: grey;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.group-contaniner-modal {
    display: flex;
    justify-content: center;
}

.form-input-modal {
    width: 250px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background: #1d1b1b;
    border-radius: 10px;
    border: #0c0c0c solid 2px;
    box-shadow: inset #0c0c0c 0 0 5px 2px;
    transition: all .5s ease-in-out;
}

.personal-info {
    width: 510px;
}

.form-input-modal.error {
    background: #e81c5a8c;
}

.form-input-modal input {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: #1f1e1e;
    background: #1f1e1e;
    color: white;
}

.form-control {
    text-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-control label {
    font-size: 14px;
    font-weight: 700;
}

.form-control a {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    display: flex;
    justify-content: end;
    transition: all 0.5s ease-in-out;
}

.form-control a:hover {
    color: grey;
}

.form-textarea {
    width: 500px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background: #1d1b1b;
    border-radius: 10px;
    border: #0c0c0c solid 2px;
    box-shadow: inset #0c0c0c 0 0 5px 2px;
    
}

.form-textarea textarea {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: #1f1e1e;
    background: #1f1e1e;
    color: white;
    resize: none;
}

.line-modal {
    width: 100%;
    height: 3px;
    background: #2d2c2cab;
    margin: 10px 0;
    box-shadow: #48484852 0 0 4px 0.5px;
}

.submit-btn-contanier {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submit-btn-contanier {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.submit-btn {
    padding: 5px 10px;
    background: #141414;
    border: #201f1f solid 2px;
    border-radius: 10px;
    box-shadow: #1e1e1e 0 0 8px 3px;
    transition: all 0.3s ease-in-out;
}

.submit-btn::before {
    box-shadow: none;
}

.submit-btn::after {
    box-shadow: inset #1e1e1e 0 0 8px 3px;
}

.submit-btn:hover {
    box-shadow: inset #0e0e0e 0 0 8px 3px;
    border: #0e0e0e solid 2px; 
}

.submit-btn:hover,
.submit-btn:focus {
    border-color: #0e0e0e;
    box-shadow: inset #0e0e0e 0 0 8px 3px; 
}

.submit-btn:focus {
    outline: none;
    box-shadow: inset #0e0e0e 0 0 8px 3px, 0 0 10px 2px rgba(0, 0, 0, 0.5); 
}


.submit-btn-contanier input[type="submit"] {
    padding: 3px 20px;
    font-size: 14px;
    background: #141414;
    border: none;
    color: white;
    font-weight: 600;
}

.group-defenda {
    display: grid;
    min-width: 250px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 250px);
}

.group-claim {
    display: grid;
    min-width: 250px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 250px);
}

.group-claim.active-grid {
    max-width: 520px;
}

.group-defenda.active-grid {
    max-width: 520px;
}

.btn-group-defenda {
    display: flex;
    justify-content: end;
}

.btn-group-claim {
    display: flex;
    justify-content: end;
}



@media (max-width: 480px) { 
    .modal-content {
        width: 95%;
        margin-top: 20%;
    }

    .nikname {
        font-size: 16px;
        padding: 0 10px;
    }

    .personal-date {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5px;
    }

    .checkbox-wrapper {
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .checkbox-label {
        width: 20px;
        height: 20px;
    }

    .select-button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .card-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card {
        max-width: 100%;
    }

    #access-message {
        margin: 10px;
        font-size: 14px;
        
    }
}

@media (min-width: 481px) and (max-width: 768px) { 
    .modal-content {
        width: 90%;
        margin-top: 10%;
    }

    .nikname {
        font-size: 17px;
    }

    .personal-date {
        width: 80%;
    }

    .checkbox-wrapper {
        flex-direction: row;
        gap: 8px;
        width: 100%;
    }

    .checkbox-label {
        width: 22px;
        height: 22px;
    }

    .select-button {
        padding: 8px 12px;
        font-size: 13px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    #access-message {
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) { 
    .modal-content {
        width: 80%;
        margin-top: 5%;
    }

    .nikname {
        font-size: 18px;
    }

    .personal-date {
        width: 70%;
    }

    .checkbox-label {
        width: 24px;
        height: 24px;
    }

    .select-button {
        padding: 10px 15px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #access-message {
        font-size: 16px;
    }
}

@media (min-width: 1025px) { 
    .modal-content {
        width: 60%;
        margin-top: 3%;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}