body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1D1D1E, #3E3E3E, #333333); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
main {
    display: flex;
    justify-content: center;
}

main
{
    display: flex;
    justify-content: center;
}

.background
{
    position: absolute;
	background: url("../img/background.jpg") !important;
	background-repeat: no-repeat;
    background-size: cover;
	width: 110%;
	height: 110%;
	transition: all 0.1s ease;
    z-index: -2;
    overflow: scroll;
    animation: abc 5s ease-in-out infinite;
}

@keyframes abc
{
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.7;
    }
}


header {
    background: transparent; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.logo
{
    left: 10px
}

.logo img
{
    width: 190px;
    height: 60px;
}

nav
{
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

.navbar {
    background: rgba(48, 48, 48, 0.35); 
    display: flex;
    justify-content: center;
    padding: 15px 0;
    z-index: 1;
}

.nav-button {
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 800;
    font-size: 20px;
    padding: 0 50px;
    transition: color 0.3s;
}

.crnewbutton {
    display: none;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 800;
    font-size: 20px;
    padding: 0 50px;
    transition: color 0.3s;
}
.newscont {
    display: flex;
    justify-content: center;
    max-height: 520px; 
    overflow-y: auto; 
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%; /* Максимальная ширина блока */
    max-height: 680px; /* Максимальная высота блока */
    margin-top: 20px;
    overflow: auto; /* Добавление прокрутки, если содержимое превышает размер блока */
    overflow-x: hidden;
}
.newscont::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
}

.newscont::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет фона полосы прокрутки */
    border-radius: 10px;
}
.newscont::-webkit-scrollbar-thumb {
    background: #888; /* Цвет бегунка полосы прокрутки */
    border-radius: 10px; /* Закругление бегунка */
    border: 3px solid transparent; /* Прозрачная граница для смещения бегунка */
    background-clip: content-box; /* Обрезка фона по содержимому */
}
.active {
    color: #888888;
}
.nohidden {
    display: block;
}

.sidebar {
    width: 270px;
    height: 470px;
    background: linear-gradient(to bottom left, #2B2B2B, #3E3E3E);
    border-left: 5px solid #3E3E3E;
    border-bottom: 5px solid #3E3E3E;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box; 
    position: absolute;
    right: 0;
    border-bottom-left-radius: 40px;
    z-index: -1;
  }
  
  .sidebar div {
    padding: 10px 0;
    border-bottom: 4px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.3s;
  }
  
  .sidebar div span {
    display: block;
    font-weight: normal;
  }
  
.sidebar div:hover {
    color: #888888;
}
.city_hallnews {
    display: none;
    opacity: 0; /* Начальное значение для анимации */
    transform: translateY(20px); /* Начальное значение для анимации */
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; /* Добавляем отступы между элементами */
    animation: fadeIn 0.8s ease-out forwards;
}
.leadernewsy {
    display: grid;
    opacity: 0; /* Начальное значение для анимации */
    transform: translateY(20px); /* Начальное значение для анимации */
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; /* Добавляем отступы между элементами */
    animation: fadeIn 0.8s ease-out forwards;
}
.weazelnewsy {
    display: none;
    opacity: 0; /* Начальное значение для анимации */
    transform: translateY(20px); /* Начальное значение для анимации */
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; /* Добавляем отступы между элементами */
    animation: fadeIn 0.8s ease-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 500px;
    text-align: left;
}
.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.list-item {
    width: 200px; 
    height: 150px; 
    padding: 15px;
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.list-item strong {
    display: block;
    margin-bottom: 5px;
}

.list-item.expanded {
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    background-color: white;
    padding: 20px;
    width: 80%;
    height: auto;
    overflow: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

footer {
    position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            color: white;
}

@media (max-width: 600px) {
    .navbar, .sidebar {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        position: relative;
        width: 100%;
    }
}


.modal-close-error {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close-error:hover,
.modal-close-error:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}

#access-message {
    display: none;
    opacity: 0;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    width: 30rem;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
}

#access-message.show {
    display: block;
    opacity: 1;
}

#access-message.hidden {
    opacity: 0;
}
.alert-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #d1d1d1;
    color: #5d5d5d;
    text-decoration: none;
    border-radius: 4px;
}
