body
{
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 10px;  
}

*::-webkit-scrollbar-track {
    background: rgba(255, 96, 96, 0); 
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); 
    border: 2px solid #e81c5a; 
    border-radius: 3px; 
}

.button-home
{
    display: none !important;
}


.lightning
{
    position: absolute;
    width: 700px;
    height: 50px;
    top: 50%;
    border-radius: 30px;
    animation-name: lights, island;
    animation-duration: 5s;
    animation-timing-function: ease-in-out, ease;
    animation-iteration-count: infinite;
    z-index: -1;

}



@keyframes lights
{
    0% {
        box-shadow: 0 0 3px #e81c5a;
    }

    50% {
        box-shadow: 0 0 100px 100px #e81c5a;
    }

    100% {
        box-shadow: 0 0 3px #e81c5a;
    }
}

@keyframes abc
{
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes island
{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

main
{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.discord
{
    display: flex;
    justify-content: center;
}

.game-info
{
    display: flex;
    justify-content: center;
}

.navbar
{
    display: none !important;
}

.content {
    display: none;
    min-height: 30rem;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 5px #292929;;
    box-sizing: border-box;
    opacity: 1;
    z-index: 999;
    animation: island 1s ease;
}

.history {
    background: linear-gradient(-29deg, #141414 11%, #721c24de 40%, #141414 80%);
    animation: gradient 30s infinite linear;
    background-size: 400%;
    width: 400px;
    max-height: 30rem;
    background-color: #141414;
    padding: 20px;
    overflow-y: scroll;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.history-item {
    margin-bottom: 10px;
}
.history-item p {
    margin: 0;
}
.history-item p:first-of-type {
    font-weight: bold;
}

.form {
    background: linear-gradient(149deg, #141414 11%, #721c24de 40%, #141414 80%);
    animation: gradient 30s infinite linear;
    background-size: 400%;
    width: 400px;
    max-height: 30rem;
    background-color: #141414;
    padding: 20px;
    border-left: #9b3251 solid 2px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.form h2
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.line-z
{
    background-color: #af3d5f;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    bottom: -45px;
    height: 2px;
}

.form-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.form-title div {
    font-weight: bold;
}

.form-input {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px 5px;
    margin: 0 5px;

}

.form-input label
{
    display: flex;
    justify-content: center;
}

.rank
{
    display: flex;
    justify-content: center;
}

.form-button-container
{
    display: flex;
    justify-content: center;
}

.form-input label {
    width: 170px;
    margin-bottom: 5px;
}
.form-input input {
    padding: 8px;
    border: 1px solid #666;
    border: #e81c597a solid 2px;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    width: 175px;
}

.form-input select {
    padding: 8px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
.form-button {
    font-size: 16px;
    font-weight: 800;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: #67A438;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in 
}

.form-button:hover {
    color: #999999;
    box-shadow: 0 4px 8px rgba(69, 160, 73, 0.5);
    background-color:#45a049;
}       

.organ
{
    padding: 5px 8px;
    background-color: #9F4C0F;
    border-radius: 10px;
}

.action {
    background-color: #838383;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;
    border: #666 solid 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    position: relative;
    cursor: pointer;
}

.action::after {
    content: "\25BC"; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.2s ease;
}

.action:hover::after {
    transform: translateY(-50%) rotate(180deg);
}

.nikname
{
    font-size: 18px;
    font-weight: 700;
    align-content: center;
    padding: 0 15px;
}

.personal-date
{
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.group-contaniner-modal {
    display: flex;
    justify-content: center;
}

.form-input-modal {
    width: 175px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background: #1d1b1b;
    border-radius: 10px;
    border: #0c0c0c solid 2px;
    box-shadow: inset #0c0c0c 0 0 5px 2px;
    transition: all .5s ease-in-out;
}

.personal-info {
    width: 510px;
}

.form-input-modal.error {
    background: #e81c5a8c;
}

.form-input-modal input {
    width: 95%;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: #1f1e1e;
    background: #1f1e1e;
    color: white;
}

.dropdown-select-ka {
    appearance: none; /* Убирает стандартный стиль браузера */
    background: #1f1e1e;
    color: gray;
    border: #1f1e1e solid 2px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 95%; /* Задайте ширину, если нужно */
    box-sizing: border-box;
}

.dropdown-select-ka:hover, .dropdown-select-ka:focus {
    outline: none; /* Убирает стандартный outline */
}

.dropdown-select-ka option {
    background-color: #141414;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}
.dropdown-select-ka option:disabled {
    background-color: #141414;
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.form-control {
    text-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-control label {
    font-size: 14px;
    font-weight: 700;
}

.form-control a {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    display: flex;
    justify-content: end;
    transition: all 0.5s ease-in-out;
}

.form-control a:hover {
    color: grey;
}
.submit-btn-contanier {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submit-btn-contanier {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.submit-btn {
    padding: 5px 10px;
    background: #141414;
    border: #201f1f solid 2px;
    border-radius: 10px;
    box-shadow: #1e1e1e 0 0 8px 3px;
    transition: all 0.3s ease-in-out;
}

.submit-btn::before {
    box-shadow: none;
}

.submit-btn::after {
    box-shadow: inset #1e1e1e 0 0 8px 3px;
}

.submit-btn:hover {
    box-shadow: inset #0e0e0e 0 0 8px 3px;
    border: #0e0e0e solid 2px; 
}

.submit-btn:hover,
.submit-btn:focus {
    border-color: #0e0e0e;
    box-shadow: inset #0e0e0e 0 0 8px 3px; 
}

.submit-btn:focus {
    outline: none;
    box-shadow: inset #0e0e0e 0 0 8px 3px, 0 0 10px 2px rgba(0, 0, 0, 0.5); 
}


.submit-btn-contanier input[type="submit"] {
    padding: 3px 20px;
    font-size: 14px;
    background: #141414;
    border: none;
    color: white;
    font-weight: 600;
}