body
{
    color: #f0f8ff;
    overflow-x: hidden;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 10px;  
}

*::-webkit-scrollbar-track {
    background: rgba(255, 96, 96, 0); 
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); 
    border: 2px solid #e81c5a; 
    border-radius: 3px; 
}

.navbar {
    display: none !important;
}

.button-home {
    display: none;
}

.organ
{
    padding: 5px 10px;
    background-color: #9F4C0F;
    border-radius: 5px;
    font-weight: 600;
}

.nikname
{
    font-size: 18px;
    font-weight: 700;
    align-content: center;
    padding: 0 15px;
}

.head {
    display: flex;
    gap: 25px;
}

.container-audit {
    position: fixed;
    top: 5rem;
    z-index: 100;
    flex-direction: column;
    background: #121212e0;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    border: black solid 2px;
    box-shadow: #0d0d0d 0 0 10px 4px;
    color: #f0f8ff
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.text-header {
    display: flex;
    padding: 5px 0px;
}

.line-modal {
    width: 100%;
    height: 3px;
    background: #2d2c2cab;
    margin: 10px 0;
    box-shadow: #48484852 0 0 4px 0.5px;
}

.submit-btn-contanier {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submit-btn {
    padding: 5px 10px;
    background: #141414;
    border: #201f1f solid 2px;
    border-radius: 10px;
    box-shadow: #1e1e1e 0 0 8px 3px;
    transition: all 0.3s ease-in-out;
}
.submit-btn::before {
    box-shadow: none;
}

.submit-btn::after {
    box-shadow: inset #1e1e1e 0 0 8px 3px;
}

.submit-btn:hover {
    box-shadow: inset #0e0e0e 0 0 8px 3px;
    border: #0e0e0e solid 2px; 
}

.submit-btn:hover,
.submit-btn:focus {
    border-color: #0e0e0e;
    box-shadow: inset #0e0e0e 0 0 8px 3px; 
}

.submit-btn:focus {
    outline: none;
    box-shadow: inset #0e0e0e 0 0 8px 3px, 0 0 10px 2px rgba(0, 0, 0, 0.5); 
}


.submit-btn-contanier input[type="submit"] {
    padding: 3px 20px;
    font-size: 14px;
    background: #141414;
    border: none;
    color: #f0f8ff;
    font-weight: 600;
}

.form-control {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.form-control label {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #f0f8ff;
}

.form-input-modal {
    width: 250px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: #1d1b1b;
    border-radius: 10px;
    border: #0c0c0c solid 2px;
    box-shadow: inset #0c0c0c 0 0 5px 2px;
    transition: all .5s ease-in-out;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.form-input-modal.error {
    background: #e81c5a8c;
}

.form-input-modal input {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    border: #1f1e1e;
    background: #1f1e1e;
    color: #f0f8ff;
    border: none;
}

.dropdown-select-ka {
    appearance: none;
    background: #1f1e1e;
    color: gray;
    border: #1f1e1e solid 2px;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-select-ka:hover, .dropdown-select-ka:focus {
    outline: none; 
}

.dropdown-select-ka option {
    background-color: #141414;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}
.dropdown-select-ka option:disabled {
    background-color: #141414;
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.form-button-container
{
    display: flex;
    justify-content: center;
}

.fire-btn.red {
    background-color: transparent !important; 
}
.submit-btn.red {
    background-color: #e81c595c !important; 
}



