body
{
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 10px;  
}

*::-webkit-scrollbar-track {
    background: rgba(255, 96, 96, 0); 
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); 
    border: 2px solid #e81c5a; 
    border-radius: 3px; 
}

.button-home
{
    display: none !important;
}


.background
{
    position: absolute;
	background: url("../img/background.jpg") !important;
	background-repeat: no-repeat;
    background-size: cover;
	width: 110%;
	height: 110%;
	transition: all 0.1s ease;
    z-index: -2;
    overflow: scroll;
    animation: abc 5s ease-in-out infinite;
}

.lightning
{
    position: absolute;
    width: 850px;
    height: 50px;
    top: 50%;
    border-radius: 30px;
    animation-name: lights, island;
    animation-duration: 5s;
    animation-timing-function: ease-in-out, ease;
    animation-iteration-count: infinite;
    z-index: -1;

}

@keyframes lights
{
    0% {
        box-shadow: 0 0 3px #e81c5a;
    }

    50% {
        box-shadow: 0 0 100px 100px #e81c5a;
    }

    100% {
        box-shadow: 0 0 3px #e81c5a;
    }
}

@keyframes abc
{
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes island
{
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

main
{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

.discord
{
    display: flex;
    justify-content: center;
}

.game-info
{
    display: flex;
    justify-content: center;
}

.navbar
{
    display: none !important;
}

.content {
    display: none;
    min-height: 30rem;
    box-shadow: 0px 0px 25px 5px #292929;;
    box-sizing: border-box;
    opacity: 1;
    z-index: 999;
    animation: island 1s ease;
}

.history {
    background: linear-gradient(-29deg, rgb(23 23 23) 0%, rgb(92 23 65) 42%, rgb(49 49 49) 72%, rgb(74 74 74) 100%);
    animation: gradient 10s infinite linear; 
    background-size: 400%; 
    width: 400px;
    max-height: 30rem;
    background-color: #333333;
    padding: 20px;
    overflow-y: scroll;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.history-item {
    margin-bottom: 10px;
}
.history-item p {
    margin: 0;
}
.history-item p:first-of-type {
    font-weight: bold;
}

.form {
    background: linear-gradient(149deg, rgb(23 23 23) 0%, rgb(92 23 65) 42%, rgb(49 49 49) 72%, rgb(74 74 74) 100%);
    animation: gradient 10s infinite linear; 
    background-size: 400%; 
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-left: #9b3251 solid 2px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.form h2
{
    display: flex;
    text-align: center;
    justify-content: center;
}

.line-z
{
    background-color: #af3d5f;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    bottom: -45px;
    height: 2px;
}

.form-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.form-title div {
    font-weight: bold;
}

.form-input {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px 5px;
    margin: 0 5px;

}

.form-input label
{
    display: flex;
    justify-content: center;
}

.rank
{
    display: flex;
    justify-content: center;
}

.form-button-container
{
    display: flex;
    justify-content: center;
}

.form-input label {
    width: 170px;
    margin-bottom: 5px;
}
.form-input input {
    padding: 8px;
    border: 1px solid #666;
    border: #e81c597a solid 2px;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    width: 175px;
}

.form-input select {
    padding: 8px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
.form-button {
    font-size: 16px;
    font-weight: 800;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: #67A438;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in 
}

.form-button:hover {
    color: #999999;
    box-shadow: 0 4px 8px rgba(69, 160, 73, 0.5);
    background-color:#45a049;
}       

.organ
{
    padding: 5px 8px;
    background-color: #9F4C0F;
    border-radius: 10px;
}

.action {
    background-color: #838383;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 25px;
    border: #666 solid 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    position: relative;
    cursor: pointer;
}

.action::after {
    content: "\25BC"; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.2s ease;
}

.action:hover::after {
    transform: translateY(-50%) rotate(180deg);
}

.nikname
{
    font-size: 18px;
    font-weight: 700;
    align-content: center;
    padding: 0 15px;
}

.personal-date
{
    display: flex;
}
