<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/applic-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <title>APPLICATION</title>
</head>
<body>
    {% block header %}
        {% include 'header/header.html' %}
    {% endblock %}
    {% block main %}
        {% include 'main/main-applic.html' %}
    {% endblock %}

    <div class="background"></div>
    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}
<script>
    let bg = document.querySelector('.background');
        window.addEventListener('mousemove', function(e) {
            let x = e.clientX / window.innerWidth;
            let y = e.clientY / window.innerHeight;  
            bg.style.transform = 'translate(-' + x * 50 + 'px, -' + y * 50 + 'px)';
        });
</script>
</body>
</html>