<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-style.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-4"></div>
    <div class="circle-3"></div>

    
    <div class='register-contanier'>
        {% if session.get('isVerification') %}
        <div class='header-container'>
            <h4>Авторизация</h4>
            <p>код был отправлен в личные сообщения Discord</p>
        </div>
        <div class='line-reg'></div>
        <div class='main-contanier'>
            <form id="form" method="POST" action="/validate-verification-code">
                <div class='container-form'>
                    <div class='form-control'>
                        <label for='nickname'>Код авторизации</label>
                        <div class='form-input-modal'>
                            <input class='form-input' placeholder='Введите код'/>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                </div>
            </form>
        </div>

        {% endif %}

        {% if not session.get('isVerification') %}
        <div class='header-container'>
            <h4>Регистрация</h4>
            <p>получение доступа к аккаунту</p>
        </div>
        <div class='line-reg'></div>
        <div class='main-contanier'>
            <form id="form" method="POST" action="/create-guest">
                {{ form.hidden_tag() }}
                <div class='container-form'>
                    <div class='form-control'>
                        <label for='nickname'>Ваш никнейм</label>
                        <div class='form-input-modal'>
                            {{ form.nickname(class="form-input", id='nickname') }}
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for='static'>Ваш статик</label>
                        <div class='form-input-modal'>
                            {{ form.static(class="form-input", id='static') }}
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for='discord'>Ваш дискорд ID</label>
                        <div class='form-input-modal'>
                            {{ form.discord(class="form-input", id='discord') }}
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for='password'>Ваш пароль</label>
                        <div class='form-input-modal'>
                            {{ form.password(class="form-input", id='password') }}
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for='confirm-password'>Повторите пароль</label>
                        <div class='form-input-modal'>
                            {{ form.confirm_password(class="form-input", id='confirm-password') }}
                        </div>
                        <span class="text-danger"></span>
                    </div>                    
                </div>
                <div class='submit-btn-contanier'>
                    {{ form.submit(class="submit-button", id='submit-button') }}     
                </div> 
            </form>            
        </div>
        {% endif %}
    </div>
    {% if isVerification %}
        <div class='modal-verification'>
            <div class='header-modal-verification'>
                <h4>Авторизация</h4>
                <p>код был отправлен в личные сообщения Discord</p>
            </div>
            <div class='container-modal-verification'>
                <div class='form-control'>
                    <label for='nickname'>Код авторизации</label>
                    <div class='form-input-modal'>
                        <input class='form-input' placeholder='Введите код'/>
                    </div>
                    <span class="text-danger" id="is-invalid"></span>
                </div>
            </div>
        </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
            {% if messages %} 
            <div id="access-message" class='access-message'>
                <span class="modal-close-error">&times;</span>
                <p><strong>Внимание!</strong> {{ messages[0] }}<p>
                {% if not current_user.is_authenticated %} 
                    <br>
                    <a class='alert-button' href="{{ url_for('main.auth') }}">Войти в аккаунт</a>
                {% endif %}
            </div> <script src="{{ url_for('static', filename='js/script-error.js') }}" ></script>
        {% endif %}
    {% endwith %}

    {% if isVerification %}
        <div class='overlay'></div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/script-error.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-auth.js') }}"></script>
</body>
</html>