<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/complaint-style.css') }}">
    <title>Исковое заявление</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}
    {% block content %}
        {% include 'main/new-year.html' %}
    {% endblock %}

    {% set user = Users.query.filter_by(static=district.created).first() %}
    {% set guest = guestUsers.query.filter_by(static=district.created).first() %}

    <div class='container-complaint'>
        <div class='main-content-complaint'>
            <div class='header-content'>
                <div class='header-statement'>
                    <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                    <div class='text-header'>
                        <h4>District Court of the State of San Andreas</h4>
                        <p>Plaintiff: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                        <p>Attorney for the Plaintiff: <b></b></p>
                        <p style="width: 90%;font-size: 16px;font-weight: 700;"> v. </p>
                        <div class='content-defendant'>
                            <p>Defendant:
                                {% for item in defendant %}
                                <p><b> {{ item }}, </b></p>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='description-content'>
                <h3>Исковое заявление № {{ "%03d" | format(district.id) }}</h3>
                <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, пользуясь своими правами подаю исковое заявление в Окружной суд штата Сан-Андреас,
                     объясняя всю ситуацию, а также прилагая все необходимые суду доказательства.</p>
                
                <p>{{ district.discription }}</p>

                <h4>Исковые требования.</h4>
                {% for item in claims %}
                    <p>{{ loop.index }}. {{ item }}</p>
                {% endfor %}
            </div>
            <div class='footer-content'>
                <p>Дата: {{ createat }}</p>
                <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                    {{
                        (user.nikname.split()[1][0] + '. ' + user.nikname.split()[0] if user.nikname.split()|length > 1 else user.nikname) if user 
                        else 
                        (guest.nikname.split()[1][0] + '. ' + guest.nikname.split()[0] if guest.nikname.split()|length > 1 else guest.nikname)
                    }}
                </b></p>
            </div>
        </div>
        <div class="sidebar-container">
            <div class='content-sidebar'>
                <div class='header-sidebar'>
                    <h4>Статуc: </h4>
                    <p>
                        {{
                            {
                                'Waitting': 'В ожидании',
                                'Accepted': 'В работе у Прокуратуры',
                                'Rejectioned': 'Отказано',
                                'LeftMoved': 'Оставлено без движения',
                                'CourtHearing': 'Назначено заседание'
                            }.get(district.status, 'Неизвестный статус')
                        }}
                    </p>
                </div>
                {% if not district.status in ['Rejectioned', 'LeftMoved'] %}
                <div class='block-btn'>
                    {% if status == 'Judge' %}
                        {% if district.status == 'Waitting' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='accept-judge' value="Обработка иска">   
                            </div>   
                        </div> 
                        {% endif %}

                        {% set button_displayed = False %}

                        {% for item in repltoisk %}
                            {% if not item.moderation and not button_displayed %}
                                <div class='submit-btn-contanier'>
                                    <div class='submit-btn'>
                                        <input type="submit" class='accept-petition' value="Обработка ходатайства">   
                                    </div>   
                                </div> 
                                {% set button_displayed = True %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if status and status != 'Judge' %}
                        {% if district.status != 'Rejectioned' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='accept-petition' value="Подать ходатайство">   
                            </div>   
                        </div> 
                        {% endif %}
                    {% endif %}

                    {% if status == 'Prosecutor' and not isk.prosecutor %}
                        {% if district.status != 'Rejectioned' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='investigation-start' onclick="toggleModal('.modal-investigation-start')" value="Начать расследование">   
                            </div>   
                        </div> 
                        {% endif %}
                    {% endif %}
                    {% if status == 'Prosecutor' and isk.prosecutor %}
                        {% if district.status != 'Rejectioned' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='investigation-complete' onclick="toggleModal('.modal-investigation-complete')" value="Завершить расследование">   
                            </div>   
                        </div> 
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        {% for item in combined_data %}
            {% if item.type_doc == "pettion" %}
            <div class='hodataistvo-complaint'>
                <div class='main-content-complaint'>
                    <div class='header-content'>
                        <div class='header-statement'>
                            <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                            <div class='text-header'>
                                <h4>District Court of the State of San Andreas</h4>
                                <p>От: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                                <p>Кому: <b>Окружному Суду Штата Сан-Андреас</b></p>
                            </div>
                        </div>
                    </div>
                    <div class='description-content'>
                        <h3>Ходатайство №{{ item.replyik['№-pettion'] }}</h3>
                        {% if item.replyik['type'] == "freeform" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: {{ item.replyik.get('findings', 'Не указано') }}.</p>
                        {% elif item.replyik['type'] == "svidetel" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: привлечении свидетеля {{ item.replyik.get('nickname', 'Не указан') }} к делу, так как его показания имеют важное значение для справедливого разрешения данного дела. Сведения, которыми обладает свидетель, могут существенно повлиять на исход рассмотрения дела и обеспечить всестороннее и объективное исследование всех обстоятельств дела.</p>
                        {% elif item.replyik['type'] == "expert" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: привлечении к делу эксперта по {{ item.replyik.get('nickname', 'Не указан') }}, так как его знания и опыт очень важны для правильного решения. Он может предоставить информацию, которая поможет всесторонне рассмотреть все аспекты дела и принять справедливое решение.</p>
                        {% elif item.replyik['type'] == "otvod" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую об: {{ item.replyik.get('findings', 'Не указано') }}.</p>
                        {% else %}
                            <p style='text-align: center;'></p>
                        {% endif %}
                    </div>                    
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                            {{
                                (user.nikname.split()[1][0] + '. ' + user.nikname.split()[0] if user.nikname.split()|length > 1 else user.nikname) if user 
                                else 
                                (guest.nikname.split()[1][0] + '. ' + guest.nikname.split()[0] if guest.nikname.split()|length > 1 else guest.nikname)
                            }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% elif item.type_doc == 'court_order' %}
            <div class='container-position-order'>
                <div class='contanier-court-order'>
                    <div class='header-content-order'>
                        <div class='img-header-order-1'><img src='{{ url_for("static", filename="img/emblem_court.png")}}'/></div>
                        <h4>DISCRICT COURT</h4>
                        <h5>state of San-Andreas</h5>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <div class='title-court-order'>
                            <div class='group-order'>
                                <div class='content-Plaintiff'>
                                    <p>Plaintiff: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                                    <p>Attorney for the Plaintiff: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                                </div>
                            </div>
                            
                            <div class='title'>
                                <h4>No. DC-{{ "%03d" | format(district.id) }}-2024</h4>
                                <h4> ОПРЕДЕЛЕНИЕ No. DC-{{ "%03d" | format(district.id) }}-{{ "%02d" | format(item['id-court']) }} </h4>
                            </div>
    
                            <div class='group-order'>
                                <div class='content-Defendant'>
                                    <p>Attorney for the Defendant: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                                    <p>Defendant:
                                        {% for item in defendant %}
                                        <p><b> {{ item }}, </b></p>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
                    </div>
                    <div class='main-content-order'>
                        <h4>ОБСТОЯТЕЛЬСТВА</h4>
                        <div class='findings'> <p>{{ item.findings }}</p> </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <h4>РАССМОТРЕНИЕ</h4>
                        <div class='consideration'> <p>{{ item.consideration }}</p> </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <h4>ОПРЕДЕЛЕНИЕ</h4>
                        <div class='ruling'> 
                            {% for item in item.ruling %}
                                <p>{{ loop.index }}. {{ item }}</p><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                            {{
                                (user.nikname.split()[1][0] + '. ' + user.nikname.split()[0] if user.nikname.split()|length > 1 else user.nikname) if user 
                                else 
                                (guest.nikname.split()[1][0] + '. ' + guest.nikname.split()[0] if guest.nikname.split()|length > 1 else guest.nikname)
                            }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% elif item.type_doc == 'start_investigation' %}
            <div class='hodataistvo-complaint'>
                <div class='main-content-complaint'>
                    <div class='header-content'>
                        <div class='header-statement'>
                            <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                            <div class='text-header'>
                                <h4>District Court of the State of San Andreas</h4>
                                <p>От: <b>Прокуратуры штата Сан-Андреас</b></p>
                                <p>Кому: <b>Окружному Суду Штата Сан-Андреас</b></p>
                            </div>
                        </div>
                    </div>
                    <div class='description-content'>
                        <p style="text-align: center;">Тут должен был быть герб прокуратуры, но бюджет пропит и денег нет</p>
                        <h3>Прокуратура штата Сан-Андреас</h3>
                            <p style='text-align: center;'>Уважаемый Чорт ебаный, по вашему заявлению будет проведена прокурорская проверка, направленная на выявление в действиях (бездействиях) проверяемого субъекта нарушений Конституции и действующих на территории San-Andreas нормативно-правовых актов, на установление причин и условий, способствующих выявленным нарушениям законности, а также лиц, виновных в совершении выявленных правонарушений..</p>
                    </div>                    
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: А сасать тут истец уже расписался <b style='font-family:Updock;font-size: 30px;'>
                            {{
                                (user.nikname.split()[1][0] + '. ' + user.nikname.split()[0] if user.nikname.split()|length > 1 else user.nikname) if user 
                                else 
                                (guest.nikname.split()[1][0] + '. ' + guest.nikname.split()[0] if guest.nikname.split()|length > 1 else guest.nikname)
                            }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class='modal-processing-complaint' style='display:none;'>
        <form method='POST' action='/create_court_order'>
            <input type="hidden" name="uid" id="uidcompliant">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="btn-modal-close-judge">&times;</span>
                    <div class="dropdown">
                        <button class="dropdown-btn">Действия</button>
                        <div class="dropdown-menu">
                            <a name='accept' data-action="accept">Принять иск</a>
                            <a name='reject' data-action="reject">Отказать в иске</a>
                            <a name='hold' data-action="hold">Оставить без движения</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action">
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-decision'> 
                    </div>
                    <div class='group-btn-decision'>
                        <a class='btn-add-input'>Добавить пункт</a>
                    </div>
                </div>

                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>

    {% if status == 'Judge' %}
    <div class='modal-processing-pettion' style='display:none;'>
        <form method='POST' action='/create_court_pettion'>
            <input type="hidden" name="uid" id="uidcompliant">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="btn-modal-close-pettion">&times;</span>
                    <div class='group-dropdown'>
                        <div class="dropdown-pettion-list">
                            <button class="dropdown-btn-pettion-list">Выбрать ходатайство</button>
                            <div class="dropdown-menu-pettion-list">
                                {% for item in repltoisk %}
                                    {% if not item.moderation %}
                                        <a data-action="{{ loop.index }}">Ходатайство {{ loop.index }}</a>
                                    {% endif %}  
                                {% endfor %}   
                            </div>
                        </div>
                        <div class="dropdown-pettion">
                            <button class="dropdown-btn-pettion">Действия над ходатайством</button>
                            <div class="dropdown-menu-pettion">
                                <a data-action="true-petition">Принять ходатайство</a>
                                <a data-action="false-petition">Отказать ходатайство</a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-pettion">
                <input type="hidden" name="petition" id="action-pettion-list">
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-decision-pettion'> 
                    </div>
                    <div class='group-btn-decision-pettion'>
                        <a class='btn-add-input-pettion'>Добавить пункт</a>
                    </div>
                </div>

                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    {% if status != 'Judge' %}
    <div class='modal-processing-pettion' style='display:none;'>
        <form method='POST' action='/create_petition'>
            <input type="hidden" name="uid" id="uidcompliant">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="btn-modal-close-pettion">&times;</span>
                    <div class="dropdown-pettion">
                        <button class="dropdown-btn-pettion">Действия</button>
                        <div class="dropdown-menu-pettion">
                            <a name='freeform' data-action="freeform">Свободная форма</a>
                            <a name='svidetel' data-action="svidetel">Об привлечении свидетеля</a>
                            <a name='expert' data-action="expert">Об привлечении эксперта</a>
                            <a name='otvod' data-action="otvod">Об отводе</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-pettion">
                <div class='group'>
                    <div class='form-control'>
                        <label for="nickname">Имя Фамилия.</label>
                        <div class='form-input'>
                            <input id="nickname" name="nickname" placeholder='Введите ник (необязательно)'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for="static">ID-карта.</label>
                        <div class='form-input'>
                            <input id="static" name="static" placeholder='Введите статик (необязательно)'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="findings">Ходатайствую.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите ходатайство'></textarea>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    {% if status == "Prosecutor" %}
    <div class='modal-investigation-start' style='display:none;'>
        <form method='POST' action='/create_prosecutor'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_document" id="type_document" value="start_investigation">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="btn-modal-close" onclick="toggleModal('.modal-investigation-start')">&times;</span>
                </div>
                <input type="hidden" name="action" id="action-pettion">
                <div class='form-control'>
                    <p>Вы уверены? В случае если вы начнете расследование суд будет ожидать от вас делопроизводство в установленый срок!</p>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Начать расследование">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    <div class='modal-investigation-complete' style='display:none;'>
        <form method='POST' action='/create_prosecutor'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_document" id="type_document" value="complete_delo">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="btn-modal-close" onclick="toggleModal('.modal-investigation-start')">&times;</span>
                </div>
                <input type="hidden" name="action" id="action-pettion">
                <div class='form-control'>
                    <label for="delo">Ссылка на дело.</label>
                    <div class='form-textarea'>
                        <input id="delo" name="delo" rows="8" cols="90" placeholder='Опишите ходатайство'></input>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Завершить расследование">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    
    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}
    <div class="overlay" id='overlay'></div>
    <div class="lines">
        {% for i in range(40) %}
          <div class="line"></div>
        {% endfor %}
    </div>

    
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
    <div id="access-message" class='access-message'>
        <span class="modal-close-error">&times;</span>
        <p><strong>Внимание!</strong> {{ messages[0] }}<p>
        {% if not current_user.is_authenticated %} 
            <br>
            <a class='alert-button' href="{{ url_for('main.auth') }}">Войти в аккаунт</a>
        {% endif %}
    </div> <script src="{{ url_for('static', filename='js/script-error.js') }}" ></script>
    {% endif %}
    {% endwith %}

    <script>
        function updateContent() {
            const allContent = document.querySelectorAll('.contenthod');
            allContent.forEach(function(content) {
                content.style.display = 'none';
            });

            const selectedValue = document.getElementById('type_hodataistva').value;

            const selectedContent = document.getElementById(selectedValue);
            if (selectedContent) {
                selectedContent.style.display = 'block';
            }
        }
        
        var status = {{ status | tojson }};

    </script>
    <script src="{{ url_for('static', filename='js/script-complaint.js')}}"></script>
</body>
</html>
