<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/complaint-style.css') }}">
    <title>Исковое заявление</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}
    {% block content %}
        {% include 'main/new-year.html' %}
    {% endblock %}

    {% set user = Users.query.filter_by(static=district.created).first() %}
    {% set guest = guestUsers.query.filter_by(static=district.created).first() %}

    <div class='container-complaint'>
        <div class='main-content-complaint'>
            <div class='header-content'>
                <div class='header-statement'>
                    <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                    <div class='text-header'>
                        <h4>District Court of the State of San Andreas</h4>
                        <p>Plaintiff: <b>{{ user.nikname if user else (guest.nickname if guest else 'Не найден') }}</b></p>
                        {% set user_plaintiff_c = Users.query.filter_by(id=district.lawerc).first() %}
                        {% set guest_plaintiff_c = guestUsers.query.filter_by(id=district.lawerc).first() %}
                        <p>Attorney for the Plaintiff: <b>{{ user_plaintiff_c.nikname if user_plaintiff_c else (guest_plaintiff_c.nickname if guest_plaintiff_c else 'Не найден') }}</b></p>
                        <p style="width: 90%;font-size: 16px;font-weight: 700;"> v. </p>
                        <div class='content-defendant'>
                            <p>Defendant:
                                {% for item in defendant %}
                                <p><b> {{ item }}, </b></p>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='description-content'>
                <h3>Исковое заявление № {{ "%03d" | format(district.id) }}</h3>
                <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, пользуясь своими правами подаю исковое заявление в Окружной суд штата Сан-Андреас,
                    объясняя всю ситуацию, а также прилагая все необходимые суду доказательства.</p>
                
                <p>{{ district.discription }}</p>

                <h4>Исковые требования.</h4>
                {% for item in claims %}
                    <p>{{ loop.index }}. {{ item }}</p>
                {% endfor %}
            </div>
            <div class='footer-content'>
                <p>Дата: {{ createat }}</p>
                <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                    {{
                        (user.nikname.split()[1][0] + '. ' + user.nikname.split()[0] 
                        if user and user.nikname and user.nikname.split()|length > 1 
                        else user.nikname if user and user.nikname 
                        else guest.nickname.split()[1][0] + '. ' + guest.nickname.split()[0] 
                        if guest and guest.nickname and guest.nickname.split()|length > 1 
                        else guest.nickname)
                    }}
                </b></p>
            </div>
        </div>
        {% if district.status != 'CompletedTrial' %}
        <div class="sidebar-container">
            <div class='content-sidebar'>
                <div class='header-sidebar'>
                    <h4>Статуc: </h4>
                    <p>
                        {{
                            {
                                'Waitting': 'В ожидании',
                                'Accepted': 'В работе у Прокуратуры',
                                'Rejectioned': 'Отказано',
                                'LeftMoved': 'Оставлено без движения',
                                'CourtHearing': 'Назначено заседание',
                                'CompleteWork': 'Дело проведено в суд',
                                'CompletedTrial': 'Завершенный судебный процесс'
                            }.get(district.status, 'Неизвестный статус')
                        }}
                    </p>
                </div>
                {% if status == 'Judge' and isk.judge %}
                    <div class='functional-menu'>
                        {% if district.prosecutor != '' %}
                            <div class='group-kick'> 
                                {% if district.prosecutor %}<p>Прокурор: {{ Users.query.filter_by(id=district.prosecutor).first().nikname }} </p><div class='submit-btn-contanier'><div class='submit-btn'><form id="judgeForm" action="/judge_settings" method="POST"><input type="hidden" name="setting" value="otvodoth"><input type="hidden" name="uid" id="uidcompliant"><input type="hidden" name="type_otvod" value="prosecutor"><input type="hidden" name="name_otvod" value="{{ Users.query.filter_by(id=district.prosecutor).first().nikname }}"><input type="submit" class='accept-petition' value="Отстранить"></form></div></div> {% endif %}
                                {% if district.otherme %}{% for index in district.otherme %}<p>{% if index.type == "svidetel" %}Свидетель{% elif index.type == "expert" %}Эксперт{% endif %}: {{ index.nickname }}</p><div class='submit-btn-contanier'><div class='submit-btn'><form id="judgeForm" action="/judge_settings" method="POST"><input type="hidden" name="setting" value="otvodoth"><input type="hidden" name="uid" id="uidcompliant"><input type="hidden" name="type_otvod" value="otherme"><input type="hidden" name="name_otvod" value="{{ index.nickname }}"><input type="submit" class='accept-petition' value="Отстранить"></form></div></div>{% endfor %}{% endif %}
                            </div>
                        {% endif %}

                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='accept-petition' value="Привлечь лицо">   
                            </div>   
                        </div>
                        
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <form id="judgeForm" action="/judge_settings" method="POST">
                                <input type="hidden" name="uid" id="uidcompliant">
                                <input type="hidden" name="setting" value="samootvod">
                                <input type="submit" class='accept-petition' value="Заявить самоотвод">
                                </form>   
                            </div>   
                        </div>
                    </div>
                {% endif %}

                {% if not district.status in ['Rejectioned', 'LeftMoved'] %}
                <div class='block-btn'>
                    {% if status == 'Judge' %}
                        {% if district.status == 'Waitting' %}
                            <div class='submit-btn-contanier'>
                                <div class='submit-btn'>
                                    <input type="submit" class='accept-judge' id='open-btn-1' value="Обработка иска">   
                                </div>   
                            </div> 
                        {% endif %}

                        {% if repltoisk | selectattr('moderation', 'equalto', false) | list | length > 0  and district.status != 'Waitting' %}
                            <div class='submit-btn-contanier'>
                                <div class='submit-btn'>
                                    <input type="submit" class='accept-petition' id='open-btn-2' value="Обработка ходатайства">   
                                </div>   
                            </div>
                        {% endif %}

                        {% if district.status == 'CompleteWork' or district.status == 'CourtHearing' %}
                            <div class='submit-btn-contanier'>
                                <div class='submit-btn'>
                                    <input type="submit" class='accept-judge' id='open-btn-6' value="Судебное заседание">   
                                </div>   
                            </div>
                        {% endif %}
                        {% if district.status == 'CourtHearing' %}
                            <div class='submit-btn-contanier'>
                                <div class='submit-btn'>
                                    <input type="submit" class='accept-judge' id='open-btn-7' value="Вынести решение">   
                                </div>   
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if status and status != 'Judge' %}
                        {% if district.status != 'Rejectioned' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='accept-petition' id='open-btn-3' value="Подать ходатайство">   
                            </div>   
                        </div> 
                        {% endif %}
                    {% endif %}

                    {% if status == 'Prosecutor' and not isk.prosecutor  and district.status == 'Accepted' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='investigation-start' id='open-btn-4' value="Начать расследование">   
                            </div>   
                        </div> 
                    {% endif %}
                    {% if status == 'Prosecutor' and isk.prosecutor and district.status != 'CompleteWork' %}
                        {% if district.status != 'Rejectioned' %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn'>
                                <input type="submit" class='investigation-complete' id='open-btn-5' value="Завершить расследование">   
                            </div>   
                        </div> 
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="container">
        {% for item in combined_data %}
            {% if item.type_doc == "pettion" %}
            {% set u_pett = Users.query.filter_by(id=item.replyik['creater']).first() %}
            {% set g_pett = Users.query.filter_by(id=item.replyik['creater']).first() %}
            <div class='hodataistvo-complaint'>
                <div class='main-content-complaint'>
                    <div class='header-content'>
                        <div class='header-statement'>
                            <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                            <div class='text-header'>
                                <h4>District Court of the State of San Andreas</h4>
                                <p>От: <b>{{ user.nikname if user else (guest.nikname if guest else 'Не найден') }}</b></p>
                                <p>Кому: <b>Окружному Суду Штата Сан-Андреас</b></p>
                            </div>
                        </div>
                    </div>
                    <div class='description-content'>
                        <h3>Ходатайство №{{ item.replyik['№-pettion'] }}</h3>
                        {% if item.replyik['type'] == "freeform" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: {{ item.replyik.get('findings', 'Не указано') }}.</p>
                        {% elif item.replyik['type'] == "svidetel" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: привлечении свидетеля {{ item.replyik.get('nickname', 'Не указан') }} к делу, так как его показания имеют важное значение для справедливого разрешения данного дела. Сведения, которыми обладает свидетель, могут существенно повлиять на исход рассмотрения дела и обеспечить всестороннее и объективное исследование всех обстоятельств дела.</p>
                        {% elif item.replyik['type'] == "expert" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую о: привлечении к делу эксперта по {{ item.replyik.get('nickname', 'Не указан') }}, так как его знания и опыт очень важны для правильного решения. Он может предоставить информацию, которая поможет всесторонне рассмотреть все аспекты дела и принять справедливое решение.</p>
                        {% elif item.replyik['type'] == "otvod" %}
                            <p style='text-align: center;'>Я, гражданин Соединенных штатов Америки, ходатайствую об: {{ item.replyik.get('findings', 'Не указано') }}.</p>
                        {% else %}
                            <p style='text-align: center;'></p>
                        {% endif %}
                    </div>                    
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                            {{ 
                                u_pett.nikname.split()[1][0] + '. ' + u_pett.nikname.split()[0] 
                                if u_pett and u_pett.nikname and u_pett.nikname.split()|length > 1 
                                else u_pett.nikname if u_pett and u_pett.nikname 
                                else g_pett.nickname.split()[1][0] + '. ' + g_pett.nickname.split()[0] 
                                if g_pett and g_pett.nickname and g_pett.nickname.split()|length > 1 
                                else g_pett.nickname
                            }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% elif item.type_doc == 'court_order' %}
            {% set judge = Users.query.filter_by(id=item.id_judge).first() %}
            <div class='container-position-order'>
                <div class='contanier-court-order'>
                    <div class='header-content-order'>
                        <div class='img-header-order-1'><img src='{{ url_for("static", filename="img/emblem_court.png")}}'/></div>
                        <h4>DISCRICT COURT</h4>
                        <h5>state of San-Andreas</h5>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <div class='title-court-order'>
                            <div class='group-order'>
                                <div class='content-Plaintiff'>
                                    <p>Plaintiff: <b>{{ user.nikname if user else (guest.nickname if guest else 'Не найден') }}</b></p>
                                    {% set user_plaintiff_c = Users.query.filter_by(id=district.lawerc).first() %}
                                    {% set guest_plaintiff_c = guestUsers.query.filter_by(id=district.lawerc).first() %}
                                    <p>Attorney for the Plaintiff: <b>{{ user_plaintiff_c.nikname if user_plaintiff_c else (guest_plaintiff_c.nickname if guest_plaintiff_c else 'Не найден') }}</b></p>
                                </div>
                            </div>
                            
                            <div class='title'>
                                <h4>No. DC-{{ "%03d" | format(district.id) }}-2024</h4>
                                <h4> ОПРЕДЕЛЕНИЕ No. DC-{{ "%03d" | format(district.id) }}-{{ "%02d" | format(item['id-court']) }} </h4>
                            </div>
                            <div class='group-order'>
                                <div class='content-Defendant'>
                                    {% set user_plaintiff_d = Users.query.filter_by(id=district.lawerd).first() %}
                                    {% set guest_plaintiff_d = guestUsers.query.filter_by(id=district.lawerd).first() %}
                                    <p>Attorney for the Defendant: <b>{{ user_plaintiff_d.nikname if user_plaintiff_d else (guest_plaintiff_d.nickname if guest_plaintiff_d else 'Не найден') }}</b></p>
                                    <p>Defendant:
                                        {% for item in defendant %}
                                        <p><b> {{ item }}, </b></p>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
                    </div>
                    <div class='main-content-order'>
                        <h4>ОБСТОЯТЕЛЬСТВА</h4>
                        <div class='findings'> <p>{{ item.findings }}</p> </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <h4>РАССМОТРЕНИЕ</h4>
                        <div class='consideration'> <p>{{ item.consideration }}</p> </div>
    
                        <div class='img-header-order-2'><img src='{{ url_for("static", filename="img/text_separator.png")}}'/></div>
    
                        <h4>ОПРЕДЕЛЕНИЕ</h4>
                        <div class='ruling'> 
                            {% for item in item.ruling %}
                                <p>{{ loop.index }}. {{ item }}</p><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                        {{ judge.nikname.split()[1][0] + '. ' + judge.nikname.split()[0] if judge.nikname.split()|length > 1 else judge.nikname }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% elif item.type_doc == 'start_investigation' %}
            {% set prosecutor = Users.query.filter_by(id=district.prosecutor).first() %}
            <div class='hodataistvo-complaint'>
                <div class='main-content-complaint'>
                    <div class='header-content'>
                        <div class='header-statement'>
                            <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                            <div class='text-header'>
                                <h4>District Court of the State of San Andreas</h4>
                                <p>От: <b>Прокуратуры штата Сан-Андреас</b></p>
                                <p>Кому: <b>Окружному Суду Штата Сан-Андреас</b></p>
                            </div>
                        </div>
                    </div>
                    <div class='description-content'>
                        <p style="text-align: center;">Тут должен был быть герб прокуратуры, но бюджет пропит и денег нет</p>
                        <h3>Прокуратура штата Сан-Андреас</h3>
                            <p style='text-align: center;'>Уважаемый Чорт ебаный, по вашему заявлению будет проведена прокурорская проверка, направленная на выявление в действиях (бездействиях) проверяемого субъекта нарушений Конституции и действующих на территории San-Andreas нормативно-правовых актов, на установление причин и условий, способствующих выявленным нарушениям законности, а также лиц, виновных в совершении выявленных правонарушений..</p>
                    </div>                    
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                            {{
                                prosecutor.nikname.split()[1][0] + '. ' + prosecutor.nikname.split()[0] if prosecutor.nikname.split()|length > 1 else prosecutor.nikname
                            }}
                        </b></p>
                    </div>
                </div>
            </div>
            {% elif item.type_doc == 'complete_delo' %}
            {% set prosecutor = Users.query.filter_by(id=district.prosecutor).first() %}
            <div class='hodataistvo-complaint'>
                <div class='main-content-complaint'>
                    <div class='header-content'>
                        <div class='header-statement'>
                            <div class='img-header'><img src="{{ url_for('static', filename='img/DistrictCourt.png') }}"/></div>     
                            <div class='text-header'>
                                <h4>District Court of the State of San Andreas</h4>
                                <p>От: <b>Прокуратуры штата Сан-Андреас</b></p>
                                <p>Кому: <b>Окружному Суду Штата Сан-Андреас</b></p>
                            </div>
                        </div>
                    </div>
                    <div class='description-content'>
                        <p style="text-align: center;">Тут должен был быть герб прокуратуры, но бюджет пропит и денег нет</p>
                        <h3>Прокуратура штата Сан-Андреас</h3>
                            <p style='text-align: center;'>Уважаемый Чорт ебаный, по вашему заявлению была проведена прокурорская проверка, направленная на выявление в действиях (бездействиях) проверяемого субъекта нарушений Конституции и действующих на территории San-Andreas нормативно-правовых актов, на установление причин и условий, способствующих выявленным нарушениям законности, а также лиц, виновных в совершении выявленных правонарушений. По итогам проверки: {% if item.replyik['type_delo'] == "blameless" %} Прокуратурой штата не были выявлены нарушения Конституции и действующих на территории San-Andreas нормативно-правовых актов. {% elif item.replyik['type_delo' == "accusatory"] %} Прокуратура выявила нарушения Конституции и действующих на территории San-Andreas нормативно-правовых актов.{% endif %} </p>
                    </div>                    
                    <div class='footer-content'>
                        <p style='margin-top: -5px;'>Подпись: <b style='font-family:Updock;font-size: 30px;'>
                            {{
                                prosecutor.nikname.split()[1][0] + '. ' + prosecutor.nikname.split()[0] if prosecutor.nikname.split()|length > 1 else prosecutor.nikname
                            }}
                        </b></p>
                        {% if status %}
                        <div class='submit-btn-contanier'>
                            <div class='submit-btn-delo'>
                                <a href="{{ item.replyik['delo'] }}" style="color:white; text-decoration: none;">Делопроизводство</a>
                            </div>   
                        </div> 
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if district.status == 'Waitting' and status == 'Judge' %}
    <div class='modal-processing-complaint' id='modal-1' style='display:none;'>
        <form method='POST' action='/create_court_order'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_court_order" value="processiong_complaint">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-1">&times;</span>
                    <div class="dropdown" id='dropdown-1'>
                        <button class="dropdown-btn" id='dropdown-btn-1'>Действия</button>
                        <div class="dropdown-menu" id='dropdown-menu-1'>
                            <a name='accept' data-action="accept">Принять иск</a>
                            <a name='reject' data-action="reject">Отказать в иске</a>
                            <a name='hold' data-action="hold">Оставить без движения</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-1">
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-decision' id='group-0'> 
                    </div>
                    <div class='group-btn-decision' id='group-btn-0'>
                        <a class='btn-add-input' id='btn-0'>Добавить пункт</a>
                    </div>
                </div>

                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}

    {% if status == 'Judge' %}
    <div class='modal-processing-complaint' id='modal-2' style='display:none;'>
        <form method='POST' action='/create_court_pettion'>
            <input type="hidden" name="uid" id="uidcompliant">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-2">&times;</span>
                    <div class='group-dropdown'>
                        <div class="dropdown-pettion-list" id='dropdown-4'>
                            <button class="dropdown-btn-pettion-list" id='dropdown-btn-4'>Выбрать ходатайство</button>
                            <div class="dropdown-menu-pettion-list" id='dropdown-menu-4'>
                                {% for item in repltoisk %}
                                    {% if not item.moderation %}
                                        <a data-action="{{ loop.index }}">Ходатайство {{ loop.index }}</a>
                                    {% endif %}  
                                {% endfor %}   
                            </div>
                        </div>
                        <div class="dropdown" id='dropdown-2'>
                            <button class="dropdown-btn" id='dropdown-btn-2'>Действия над ходатайством</button>
                            <div class="dropdown-menu" id='dropdown-menu-2'>
                                <a data-action="true-petition">Принять ходатайство</a>
                                <a data-action="false-petition">Отказать ходатайство</a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-2">
                <input type="hidden" name="petition" id="action-4">
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-decision-pettion' id='group-1'> 
                    </div>
                    <div class='group-btn-decision-pettion' id='group-btn-1'>
                        <a class='btn-add-input-pettion' id='btn-1'>Добавить пункт</a>
                    </div>
                </div>

                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    {% if status != 'Judge' %}
    <div class='modal-processing-complaint' id='modal-3' style='display:none;'>
        <form method='POST' action='/create_petition'>
            <input type="hidden" name="uid" id="uidcompliant">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-3">&times;</span>
                    <div class="dropdown" id='dropdown-3'>
                        <button class="dropdown-btn" id='dropdown-btn-3'>Действия</button>
                        <div class="dropdown-menu" id='dropdown-menu-3'>
                            <a name='freeform' data-action="freeform">Свободная форма</a>
                            <a name='svidetel' data-action="svidetel">Об привлечении свидетеля</a>
                            <a name='expert' data-action="expert">Об привлечении эксперта</a>
                            <a name='otvod' data-action="otvod">Об отводе</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-3">
                <div class='group'>
                    <div class='form-control'>
                        <label for="nickname">Имя Фамилия.</label>
                        <div class='form-input'>
                            <input id="nickname" name="nickname" placeholder='Введите ник (необязательно)'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for="static">ID-карта.</label>
                        <div class='form-input'>
                            <input id="static" name="static" placeholder='Введите статик (необязательно)'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="findings">Ходатайствую.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите ходатайство'></textarea>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    {% if status == "Prosecutor" %}
    <div class='modal-processing-complaint' style='display:none;' id='modal-4'>
        <form method='POST' action='/create_prosecutor'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_document" id="type_document" value="start_investigation">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-4">&times;</span>
                </div>
                <div class='form-control'>
                    <h4>Вы уверены? Не обратимое действие!</h4>
                    <p>В случае если вы начнете расследование и не успеете в срок указанным судом, вы можете понести IC наказания.</p>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Начать расследование">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    <div class='modal-processing-complaint' style='display:none;' id='modal-5'>
        <form method='POST' action='/create_prosecutor'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_document" id="type_document" value="complete_delo">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-5">&times;</span>
                    <div class="dropdown" id='dropdown-5'>
                        <button class="dropdown-btn" id='dropdown-btn-5'>Действия</button>
                        <div class="dropdown-menu" id='dropdown-menu-5'>
                            <a name='accusatory' data-action="accusatory">С обвинениями</a>
                            <a name='blameless' data-action="blameless">Без обвинений</a>
                        </div>
                    </div>
                </div>  
                <input type="hidden" name="action" id="action-5">

                <div class='form-control'>
                    <label for="delo">Ссылка на дело.</label>
                    <div class='form-input'>
                        <input id="delo" name="delo" placeholder='Вставьте ссылку на дело'></input>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Завершить расследование">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}

    {% if (district.status == 'CompleteWork' or district.status == 'CourtHearing') and status == 'Judge' %}
    <div class='modal-processing-complaint' id='modal-6' style='display:none;'>
        <form method='POST' action='/create_court_order'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_court_order" value="appoint_court_session">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-6">&times;</span>
                    <div class="dropdown" id='dropdown-6'>
                        <button class="dropdown-btn" id='dropdown-btn-6'>Действия</button>
                        <div class="dropdown-menu" id='dropdown-menu-6'>
                            <a name='reassign' data-action="reassign">Переназначить суд</a>
                            <a name='appoint' data-action="appoint">Назначить суд</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" id="action-6">
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-dec'> 
                        <label for="time">Время судебного заседания.</label>
                        <div class='form-input'>
                            <input id="time" name="time" placeholder='Введите время суда'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='group-decision-pettion' id='group-2'> 
                    </div>
                    <div class='group-btn-decision-pettion' id='group-btn-2'>
                        <a class='btn-add-input-pettion' id='btn-2' >Добавить пункт</a>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}

    {% if district.status == 'CourtHearing' and status == 'Judge' %}
    <div class='modal-processing-complaint' id='modal-7' style='display:none;'>
        <form method='POST' action='/create_court_order'>
            <input type="hidden" name="uid" id="uidcompliant">
            <input type="hidden" name="type_court_order" value="decision_court_session">
            <div class='content-modal'>
                <div class="header-modal">
                    <span class="btn-modal-close" id="close-btn-7">&times;</span>
                </div>
                <div class='form-control'>
                    <label for="findings">Обстоятельства.</label>
                    <div class='form-textarea'>
                        <textarea id="findings" name="findings" rows="8" cols="90" placeholder='Опишите обстоятельства'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="consideration">Рассмотрение.</label>
                    <div class='form-textarea'>
                        <textarea id="consideration" name="consideration" rows="8" cols="90" placeholder='Опишите мотивирвнное решение при рассмотрение искового заявления'></textarea>
                    </div>
                </div>
                <div class='form-control'>
                    <label for="decision">Определил.</label>
                    <div class='group-decision-pettion' id='group-3'> 
                    </div>
                    <div class='group-btn-decision-pettion' id='group-btn-3'>
                        <a class='btn-add-input-pettion' id='btn-3' >Добавить пункт</a>
                    </div>
                </div>
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </div> 
        </form>
    </div>
    {% endif %}
    
    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}
    <div class="overlay" id='overlay'></div>
    <div class="lines">
        {% for i in range(40) %}
          <div class="line"></div>
        {% endfor %}
    </div>

    
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
    <div id="access-message" class='access-message'>
        <span class="modal-close-error">&times;</span>
        <p><strong>Внимание!</strong> {{ messages[0] }}<p>
        {% if not current_user.is_authenticated %} 
            <br>
            <a class='alert-button' href="{{ url_for('main.auth') }}">Войти в аккаунт</a>
        {% endif %}
    </div> <script src="{{ url_for('static', filename='js/script-error.js') }}" ></script>
    {% endif %}
    {% endwith %}

    <script>
        var status = {{ status | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/script-complaint.js')}}"></script>
</body>
</html>
