<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database-style.css') }}">
    <title>Majestic State</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>
<body>
    {% block header %}
        {% include 'header/header-account.html' %}
    {% endblock %}

    <div id="customAlert" class="custom-alert">
        <div class="alert-content">
            <p>Есть несохраненные изменения. Вы уверены, что хотите закрыть?</p>
            <div class='group-btn'>
            <button id="confirmAlert" class="submit-btn red">Да</button>
            <button id="cancelAlert" class="submit-btn">Нет</button>
            </div>
        </div>
    </div>

    {% block error %}
        {% include 'api/error-json.html' %}
    {% endblock %}

    {% block main %}
        {% include 'main/main-database.html' %}
    {% endblock %}
    <div id="loader" class="loader"></div>

    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>

    <div class="overlay" id='overlay'></div>
    <script src="{{ url_for('static', filename='js/script-database.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</body>
</html>


