<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <title>Majestic State</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-account.html' %}
    {% endblock %}
    {% block main %}
        {% include 'main/main-database.html' %}
    {% endblock %}

    
    <script>
        const select = document.querySelector('.action');
        const list = document.querySelector('.action-list');
        const isl = document.querySelector(".content");

        select.addEventListener('click', () => {
            select.classList.toggle('open');
        });

        
        window.onload = function() {
            isl.style.display = "flex";
        };

        
    </script>
</body>
</html>


