<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <title>Majestic State</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>
<body>

    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}

    <div id="attorney-content">
    </div>

    <div id="judicial-content">
    </div>
    
    <main>
        {% if message %}
            {% block errors %}
                {% include 'api/error.html' %}
            {% endblock %}
        {% endif %}
        
        {% block errorsjson %}
            {% include 'api/error-json.html' %}
        {% endblock %}

        
        {% if current_user.is_authenticated and is_permission %} 
            {% block modal %}
                {% include 'main/main-doc.html' %}
            {% endblock %}
        {% endif %}
    </main>

    {% if current_user.is_authenticated %}
    <div class='modal hidden-modal' id='modal-prosecutor' style='display: none;'>
        <div class='content-modal' style='top: 45vh;'>
            <div class="header-modal">
                <div class='head'>
                    <div class='text-header'>
                        <h4>Подача жалобы в Прокуратуру</h4>
                        <p> на государственного служащего </p>
                    </div>
                </div> 
                <span class="btn-modal-close" id='close-modal-btn'>&times;</span>
            </div>
            <div class='line-modal'></div>
            <form method="POST" id='create-petition-prosecutor'>
                <div class='form-container'>
                    <div class='form-control' style='margin-bottom: 0;'>
                        <label for="defenda">Ответчики</label>
                        <div class='group-defenda' id="complaint-group-defenda">
                            <div class='content-defenda'>
                                <div class='form-input' id='defendant-input'>
                                    <input id="defendant" name="defenda" placeholder='Введите ник (или фракцию) и статик'>
                                </div>
                                <span class="text-danger" id="is-invalid"></span>
                            </div>
                        </div>
                        <div class='btn-group-defenda' style='position: relative;top: -15px;'>
                            <a class='btn-add-defenda' id='btn-add-defenda-complaint' style='display:none;'>Удалить</a>
                            <a class='btn-add-defenda' id='addDefenda-complaint'>Добавить Ответчика</a>
                        </div>
                    </div>
                    <div class='form-control'>
                        <label for="evidence">Доказательства</label>
                        <div class='form-input'>
                            <input name="evidence" id='evidence' placeholder='Введите сслыку через пробел'>
                        </div>
                        <span class="text-danger" id="is-invalid"></span>
                    </div>
                    <div class='form-control'>
                        <label for="findings">Описание ситуации</label>
                        <div class='form-textarea'>
                            <textarea id="description" name="description" style='height:100px;' rows="8" cols="90" placeholder='Опишите ситуацию (подробно)'></textarea>
                        </div>
                    </div>
                </div>        
                <div class='submit-btn-contanier'>
                    <div class='submit-btn'>
                        <input type="submit" value="Оставить ответ">   
                    </div>   
                </div> 
            </form>
        </div>
    </div>
    {% endif %}

    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}

    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>
    <div class="overlay" id='overlay'></div>

    <script>
        var isAuthenticated = {{ is_authenticated | tojson }};
        var isPermission = {{ is_permission  | tojson }};
        {% if current_user.is_authenticated %}
            var isProsecutor = {{ current_user.permissions[0].prosecutor | tojson }};
        {% else %}
            var isProsecutor = false;
        {% endif %}
    </script>

    <script src="{{ url_for('static', filename='js/script-doc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-attomey.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-judicial.js') }}"></script>
</body>
</html>

