<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ka-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <title>Majestic State</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>
<body>

    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}

    <main>
        <div id="attorney-content">
            {% if is_visibily_attoney %}
                {% block attorney %}
                    {% include 'main/main-doc-attomey.html' %}
                {% endblock %}
            {% endif %}
        </div>

        <div id="judicial-content">
            {% if is_visibily_judicial %}
                {% block judicial %}
                    {% include 'main/main-doc-judicial.html' %}
                {% endblock %}
                {% block modal_judicial %}
                    {% include 'main/main-doc-modal.html' %}
                {% endblock %}
            {% endif %}
        </div>

        {% block error %}
            {% include 'api/error.html' %}
        {% endblock %}

        
        {% if current_user.is_authenticated and is_permission %} 
            {% block modal %}
                {% include 'main/main-doc.html' %}
            {% endblock %}
        {% endif %}
    </main>

    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}

    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>
    <div class="overlay" id='overlay'></div>

    <script>
        var isAuthenticated = {{ is_authenticated | tojson }};
        var isPermission = {{ is_permission  | tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/script-doc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-attomey.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-judicial.js') }}"></script>
</body>
</html>

