<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ka-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <title>Majestic State</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}

    {% block main %}
        {% include 'main/main-doc.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}
    <div class="background"></div>
    <script src="{{ url_for('static', filename='js/script-doc.js') }}"></script>
</body>
</html>


