<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info-style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-doc.html' %}
    {% endblock %}

    {% if info_type == 'considered_claims' %}
    <div id="judicial-content">
        <div class="contanier-content">
            <div class='main-contanier'>
                {% for element in district %}
                    <a class='btn-complaint' href="/complaint?uid={{ element.current_uid }}">
                        <div class="list-claim">
                            <h4>Исковое заявление № {{ "%03d" | format(element.id) }}</h4>
                            {% set user = Users.query.filter_by(static=element.created).first() %}
                            {% set guest = guestUsers.query.filter_by(static=element.created).first() %}
            
                            <p>Истец: {{ user.nikname if user else (guest.nickname if guest else 'Не найден') }}</p>
            
                            {% if element.current_claim.create_at.date() == now.date() %}
                                <p>Дата: Сегодня {{ element.current_claim.create_at.strftime('%H:%M') }}</p>
                            {% elif element.current_claim.create_at.date() == (now - timedelta(days=1)).date() %}
                                <p>Дата: Вчера {{ element.current_claim.create_at.strftime('%H:%M') }}</p>
                            {% else %}
                                <p>Дата: {{ element.current_claim.create_at.strftime('%Y-%m-%d %H:%M') }}</p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div> 
        </div> 
    </div> 
    {% endif %}

    {% if info_type == 'precedents' %}
    {% endif %}
    
    {% if info_type == 'rules' %}
    <div id="judicial-content">
        <div class="contanier-content">
            <div class='main-contanier rules' style='padding: 40px;'>
                <h3>Система обращений в Окружной суд штата Сан-Андреас</h3>

                <h4>Глава 1. Общие положения</h4>
                <ol>
                    <li>Настоящие Правила регламентирует форму и содержание исковых заявлений, а также основания для оставления их без движения и для отказа в их принятии.</li>
                    <li>Настоящие Правила составлены в соответствии с процессуальным законодательством штата Сан-Андреас.</li>
                    <li>Настоящие Правила обязательны к соблюдению всеми участниками судебного процесса, а также судебными и правоохранительными органами.</li>
                </ol>
            
                <h4>Глава 2. Требования к исковому заявлению</h4>
                <ol>
                    <li>Исковое заявление подается путем его размещения на официальном портале судебной системы штата Сан-Андреас в письменной форме и должно носить наименование «Иск №...». Номер выставляется исходя из того, какой номер был последним, уголовные дела от прокуратуры должны иметь в нумерации пометку "J".</li>
                    <li>Исковое заявление должно содержать:</li>
                    <ul>
                        <li>а) наименование суда, в который подается заявление;</li>
                        <li>б) наименование истца и его представителя, если заявление подается представителем;</li>
                        <li>в) наименование ответчика (обвиняемого);</li>
                        <li>г) указание на то, в чем заключается нарушение либо угроза нарушения прав, свобод или законных интересов истца, а также его исковые требования;</li>
                        <li>д) ссылка на обстоятельства, на которых истец основывает свои требования, и доказательства, подтверждающие эти обстоятельства (при наличии);</li>
                        <li>е) перечень прилагаемых к заявлению документов;</li>
                        <li>ж) контактные данные истца (адрес электронной почты, телефонный номер, номер банковского счета);</li>
                        <li>и) подпись лица, подавшего исковое заявление.</li>
                    </ul>
                    <li>Обязательными документами, прилагаемыми к заявлению, являются:</li>
                    <ul>
                        <li>а) ксерокопия паспорта истца;</li>
                        <li>б) ксерокопия паспорта представителя (при наличии);</li>
                        <li>в) ксерокопия банковского чека по оплате судебной пошлины.</li>
                    </ul>
                    <li>Исковое заявление подается в соответствии с формами подачи исковых заявлений, приведенными на официальном портале судебной системы штата Сан-Андреас в разделе соответствующего суда.</li>
                    <li>Если доказательства, подтверждающие обстоятельства, приведенные в исковом заявлении, отсутствуют либо являются недостаточными, то к исковому заявлению необходимо приложить ходатайство об истребовании доказательств, в том числе видеозаписей с камер видеонаблюдения.</li>
                </ol>
            
                <h4>Глава 3. Основания для оставления без движения</h4>
                <ol>
                    <li>В случае отсутствия видео или фото доказательств суд оставляет исковое заявление без движения до получения истребуемых доказательств.</li>
                    <li>Если от одной из сторон заявлено ходатайство о заключении мирового соглашения, суд оставляет исковое заявление без движения до заключения мирового соглашения либо до подтверждения отказа от его заключения одной из сторон.</li>
                    <li>Если невозможно установить личность ответчика либо личность ответчика засекречена, судья оставляет исковое заявление без движения до момента установления личности ответчика, но не более чем на 7 дней.</li>
                    <li>В случае необходимости привлечения эксперта к судебному процессу судья выносит определение с указанием имени и фамилии эксперта, а также обоснование необходимости услуг эксперта.</li>
                    <li>Если исковое заявление подано в суд без соблюдения требований, установленных настоящими Правилами, судья выносит определение об оставлении без движения до устранения нарушений сроком до 72 часов.</li>
                    <li>В случае оставления искового заявления без движения в целях истребования доказательств или установления личности ответчика все мероприятия публикуются в том же деле, в котором рассматривается исковое заявление.</li>
                </ol>
            
                <h4>Глава 4. Основания для отказа в принятии иска</h4>
                <ol>
                    <li>Суд вправе отказать в принятии искового заявления в следующих случаях:</li>
                    <ul>
                        <li>а) не устранены обстоятельства, послужившие основаниями для оставления искового заявления без движения;</li>
                        <li>б) исковое заявление было отредактировано без соответствующего ходатайства;</li>
                        <li>в) заявление предъявлено в защиту прав, свобод или интересов другого лица, которому не предоставлено такое право;</li>
                        <li>г) в исковом заявлении оспариваются действия, которые не затрагивают права, свободы или законные интересы заявителя;</li>
                        <li>д) имеется решение суда по спору между теми же сторонами о том же предмете и по тем же основаниям;</li>
                        <li>е) исковое заявление было подано с нарушением подсудности.</li>
                    </ul>
                </ol>
            
                <h4>Глава 5. Судебная пошлина</h4>
                <ol>
                    <li>Судебная пошлина составляет 30,000$ и оплачивается на банковский счет 7211.</li>
                    <li>Стороне, в пользу которой вынесено решение суда, компенсируются расходы по уплате судебной пошлины.</li>
                </ol>
            
                <h4>Глава 6. Заключительные положения</h4>
                <ol>
                    <li>Все судебные акты размещаются в режиме ограниченного доступа на официальном портале.</li>
                    <li>Лица, участвующие в деле, обязаны самостоятельно следить за движением дела.</li>
                </ol>
            </div> 
        </div> 
    </div> 
    {% endif %}

    {% block footer %}
    {% include 'footer/footer.html' %}
    {% endblock %}


    <div class="overlay" id='overlay'></div>
    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script-complaint.js')}}"></script>
</body>
</html>
