<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ka-style.css') }}">
    <title>Majestic State</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">    
</head>
<body>
    {% block header %}
        {% include 'header/header-ka.html' %}
    {% endblock %}

    {% block error %}
        {% include 'api/error-json.html' %}
    {% endblock %}
    <main>
        {% block main %}
            {% include 'main/main-ka.html' %}
        {% endblock %}
    </main>

    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/script-audit.js') }}"></script>
    <script>ranks = {{ ranks | tojson }};</script>
</body>
</html>


