<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation-bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-style.css') }}">
    <title>Majestic State</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-account.html' %}
    {% endblock %}

    <main>
    {% block main %}
        {% include 'main/main-profile.html' %}
    {% endblock %}
    </main>

    <div class="lines">
        {% for i in range(40) %}
        <div class="line"></div>
        {% endfor %}
    </div>

    <div class="overlay" id='overlay'></div>
    <script src="{{ url_for('static', filename='js/script-profile.js') }}"></script>
</body>
</html>

