<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-style.css') }}">
    <title>Majestic State</title>
</head>
<body>
    {% block header %}
        {% include 'header/header-account.html' %}
    {% endblock %}

    {% block main %}
        {% include 'main/main-profile.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'footer/footer.html' %}
    {% endblock %}
    
    <div class="background"></div>
    <script>
        let ClsBtn = document.querySelector('.modal-close');
        let MessangerWindow = document.querySelector('#messanger');
        let ClicksBtn = 0;

        MessangerWindow.onclick = function () {
            ClicksBtn++
            alert('hello');
            if(ClicksBtn > 1 & ClicksBtn < 3) {
                alert('2 or more')
            }
            if(ClicksBtn > 2) {
                ClicksBtn = 0;
            }
        }

        let bg = document.querySelector('.background');
        window.addEventListener('mousemove', function(e) {
            let x = e.clientX / window.innerWidth;
            let y = e.clientY / window.innerHeight;  
            bg.style.transform = 'translate(-' + x * 50 + 'px, -' + y * 50 + 'px)';
        });
    </script>
</body>
</html>

