<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/temporary-style.css') }}">
    <title>Просмотр Постановления</title>
</head>
<body>
    <iframe src="{{ pdf_path }}" type="application/pdf"></iframe>
    <button class="edit-button" onclick="window.location.href='{{ url_for('main.edit_doc', uid=request.args.get('uid')) }}'">Редактировать</button>
</body>
</html>
